// GLOBAL CONFIGS

$IMAGES : "../mpinImages/";
$BORDERLESS : false;

$BUTTON_COLOR: #ffffff;
$BUTTON_BGCOLOR: #007cc2;

// Background color
@mixin bg-color() {

	background: #F0F0EE;

}

@mixin header-logo() {
	margin: 5px 0;
	width: 85px;
	height: 20px;
	float: right; 
	background: url('#{$IMAGES}logo-here-grey.svg') no-repeat;
	background-size: auto 100%;
	background-position: right bottom;
}

@mixin header-home () {
	width: 30px;
	height: 23px;
	margin: 3px 0;
	background: url('#{$IMAGES}home.svg') no-repeat;
	background-size: auto 100%;
	background-position: left;
}

// Font family

@mixin font-family() {
	font-family: Helvetica, sans-serif;
}

//  Pin Button style

@mixin pin-btn-style() {

	color: #000;
	display: block !important;


	width:50%;

	&:after {
		content: "";
		display: block;
		width: 100%;
		height:0;
		padding-bottom: 100%;
		background: #DCDDDF;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}

	// Active color on press

	span {
	    float:left;
	    width:100%;
	    padding-top:50%;
	    line-height:1em;
	    margin-top:-0.5em;
	    text-align:center;
	    color: #777;

	    font-size: 220%;
	    font-weight: 300;
	}

	&:active {

		span {
			color: white;
		}

		&:after {
			background: #00B9E5;
		}

	}
}

// Top bar

@mixin top-bar(){
	// border-bottom: 1px solid #828284;
}

@mixin header-bar(){
	border-bottom: 1px solid #828284;
}


// Input pin field

@mixin pin-screen() {

	color: black;

	border: 5px solid #EEEFEE;

	color: black;
	-webkit-text-fill-color: #000;

	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;

	font-size: 114%;

	min-height: 2.5em;
}

//

.pre-row {
	margin-bottom: 16%;
	margin-top: 2%;
	padding: 8%;
}

// User

@mixin mpin-user() {
	color: rgb(60, 157, 203);
	font-size: 114%;
}


@mixin mpin-menu() {
	background: url('#{$IMAGES}/PinPad_button_active.png') top left no-repeat;
	width: 30px;
}

@mixin mpin-menu-active() {
	background: url('#{$IMAGES}/PinPad_button_active.svg') top left no-repeat;
	width: 30px;
}

// Mixin home icon

@mixin home-icon() {
	background-image: url('#{$IMAGES}/home.svg');
	color: white;
	height: 24px;
	@include box-flex-value(1.0);
}

@mixin mpin-logo() {
	width: 106px;
	height: 32px;
	background-image: url('#{$IMAGES}/mpin_logo.png');

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	margin: 5px 10px 5px 0px;

	// Place icon on center
	@include box-flex-value(7.0);

}

@mixin logo() {
	width: 183px;
	height: 69px;
	background-image: url('#{$IMAGES}/mpin_header_logo.png');

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	margin: 5px 10px 5px 0px;

	display: block;
	@include box-flex-value(1.0);
	width: 100%;
}

@mixin menu-icon() {
	width: 28px;
	height: 28px;
	background-image: url('#{$IMAGES}/mpin_menu.png');

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;

	@include box-flex-value(1.0);
}

@mixin mobile-icon() {
	width: 50px !important;
	height: 42px !important;
	background-image: url('#{$IMAGES}/phone.svg');
	color: #00B9E5;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	margin: 5px auto;

	@include box-flex-value(1.0);
}


@mixin desktop-icon() {
	width: 50px !important;
	height: 42px !important;
	background-image: url('#{$IMAGES}/mac-icon.svg');

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	margin: 5px auto;

	@include box-flex-value(1.0);
}

@mixin mpin-button() {
	-moz-transition: all 0.5s ease 0s;
	border: 1px solid transparent !important;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	outline: medium none;
	background: #00B9E5;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Helvetica', serif;
	font-weight: bold;
	padding: 0px 10px 0px;
	height: auto;
	min-height: 1.8em;
	margin-top: 10px;

	// Set as display flex
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;

	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	background-image: -moz-linear-gradient(center top , #349FCD 0%, #2D89B0);
}

@mixin mpinButton {
	border: 1px solid transparent;
	border-radius: 0.3em;
	background: $BUTTON_BGCOLOR;
	cursor: pointer;
	color: #FFFFFF;
	font-weight: bold;
	min-height: 1.8em;
	margin-top: 10px;
	padding: 5px 10px;
	align-items: center;
	text-align: center;
	margin-bottom: 3%;
	line-height: 120%;
}

@mixin top-heading() {
	color: black;
	padding: 3vh;
	font-size: 14px;
}

@mixin central-content() {
	border: 1px solid rgb(86, 86, 86);
	background-color: white;
	color: black;
}

@mixin central-text() {
	color: black;
	font-size: 14px;
	width: 100%;
	text-align: center;
}

@mixin input-heading(){

	padding: 0px 0px 5px 0px;
	font-size: 4vh;
	width: 100% !important;
	text-shadow: rgba(255,255,255,0.25) 0 0.08em 0;
	text-align: center;

		span {
			text-align: center;
			color: black;
			background: transparent;
			font-size: 14px;
			padding: 0px 0px 5px 0px;
			text-shadow: rgba(255,255,255,0.25) 0 0.08em 0;
			text-shadow: #fff 0 1px 1px;
			font-weight: bold;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
		}

}

@mixin email-input() {
	color: white;
	font-size: 114%;
	font-weight: normal;
	background: #565656;
	width: 100%;
	padding: .4em;
	min-height: 2.5em;

}

@mixin central-heading() {
	color: black;
	font-size: 4vh;
	width: 100%;
	text-align: center;
}

@mixin body-text() {
	padding: 2vh !important;
	color: black;
	text-align: center;
	font-size: 3vh;
}

@mixin mpin-copyright() {
	width: 97px;
	height: 13px;
	background-image: url('#{$IMAGES}/byCertivox.png');
	margin: 10px 0px 10px 10px;
}

@mixin arrow-icon() {
	background-image: url('#{$IMAGES}/arrow.png');
	width: 1.5em;
	height: 1.5em;
	padding: 20px;
}

@mixin btn-text-label() {
	line-height: 1.2em;
}

/// FOOTER
@mixin footer-helphub() {
	width: 80px;
	height: 30px;
	background: url('#{$IMAGES}m-pin-header-logo.svg') no-repeat;
	background-size: auto 100%;
	background-position: left;
}

@mixin footer-copyright() {
	width: 80px;
	height: 30px;
	float: right; 
	background: url('#{$IMAGES}/powered-by-certivox-colour.svg') no-repeat;
	background-size: auto 100%;
	background-position: right bottom;
}