/* 
Copyright 2014 CertiVox UK Ltd, All Rights Reserved.

The CertiVox M-Pin Client and Server Libraries are free software: you can
redistribute it and/or modify it under the terms of the BSD 3-Clause
License - http://opensource.org/licenses/BSD-3-Clause

For full details regarding our CertiVox terms of service please refer to
the following links:

  * Our Terms and Conditions -
    http://www.certivox.com/about-certivox/terms-and-conditions/
	
  * Our Security and Privacy -
    http://www.certivox.com/about-certivox/security-privacy/

  * Our Statement of Position and Our Promise on Software Patents -
    http://www.certivox.com/about-certivox/patents/
*/
/*
   Certivox JavaScript M-Pin Authentication Functions

   Provides these functions:
   calculateMPinToken     Calculates the MPin Token 
   local_entropy          Gets an entropy value from the client machine
   randomX                Calculates a random 254 bit value
   addShares              Add two points on the curve that are originally in hex format
   pass1Request           Form the JSON request for pass one of the M-Pin protocol
   pass2Request           Form the JSON request for pass two of the M-Pin protocol
*/

// GLOBAL CONFIGS

$IMAGES : "../images/%templatename%";
$BORDERLESS : true;

$BUTTON_COLOR: #ffffff;
$BUTTON_BGCOLOR: #007cc2;

//not in use
$BGCOLOR4:#fff;

@mixin gradient($color1, $color2) {
	background-image: -moz-linear-gradient(center top , $color1 0%, $color2);
	background: -webkit-linear-gradient($color1, $color2); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($color1, $color2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($color1, $color2); /* For Firefox 3.6 to 15 */
	background: linear-gradient($color1, $color2);
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
//HEADER
@mixin mpin-header () {
	border-bottom: 1px solid #828284;
	padding: 5px !important;
	height: 40px;
}

@mixin header-logo() {
	margin: 5px 0;
	width: 85px;
	height: 20px;
	float: right;
	background: url('#{$IMAGES}/logo-here-grey.svg') no-repeat;
	background-size: auto 100%;
	background-position: right bottom;
}

@mixin header-home () {
	width: 30px;
	height: 23px;
	margin: 3px 0;
	background: url('#{$IMAGES}/home.svg') no-repeat;
	background-size: auto 100%;
	background-position: left;
}
/// NEW function
@mixin mobile-bgcolor () {
}
@mixin mobile-color () {
}
@mixin button-icon-desktop () {
}
@mixin button-icon-mobile () {
}
@mixin mpin-mobile-button () {
}
@mixin mpin-warning-button () {
}
@mixin mpin-dark-button () {
}
@mixin email-input-before () {
}
@mixin device-input-before () {
}
@mixin mpin-error-icon () {
}
@mixin mobile-footer () {
}
@mixin pin-pad-input-text () {
}
@mixin mpin-expire-second () {
	color: #f00;
	text-shadow:none;
}
@mixin help-popup-corner-icon () {
	content: '';
	background-image: url('#{$IMAGES}/info.svg');
	width: 32px;
	height: 31px;
	display: block;
	position: absolute;
	top: -16px;
	left: -16px;
	background-color: white;
	background-repeat: no-repeat;
	background-position: left;
	background-size: auto 100%;
	cursor: pointer;
}
@mixin mpin-logo-pointer () {
	cursor: pointer;
}
@mixin pin-pad-input-error () {
	border: 1px solid red;
	color: red;
}
@mixin pin-pad-input-text-error () {
}

@mixin button-area-down () {
	position: absolute;
	bottom: 11%;
	width: 100%;
}

@mixin user-area-slim () {
	height: 28px;
}
@mixin user-area-fat () {
	height: 81.5%;
}

@mixin pin-pad-elements () {
	@include gradient(#3777ba, #56bce0);
	height: 100%;
	width: 100%;
	position: relative;
	top: 28px;
	z-index: 8000;
}
@mixin user-row () {
	height: 28px;
	background-color: white;
}

@mixin footer () {
	position: absolute;
	border-top: 1px solid #828284;
	bottom: 0px;
	padding: 5px !important;
	width: 100%;
	-webkit-box-align: center;
	height: 10%;
	background: white;
}

@mixin mpin-input-field () {
	text-align: center;
	/*color: grey;*/
	padding: .88em .4em;
	/*font-style: italic;*/
	border: 1px solid #A3A3A3;
	width: 100%;
	margin-top: 6%;
	font-size: 0.88em;
}

@mixin identity-text () {
	color: red;
}
@mixin buttons-box () {
	padding: 0% 5%;
	background: #fff;
	z-index: 99;
}
@mixin setting-icon () {
	border: 1px solid grey;
	background: #fff url('#{$IMAGES}/cog-setting.svg') center no-repeat;
	background-size: auto 100%;
	width: 30px;
	height: 30px;
	margin: 3px;
	@include border-radius(7px);
}
@mixin users-row-hover () {
	background: #7DD1FF;
	color: #fff;
	cursor: pointer;
	.mpinSettingsRow {
		color: #fff;
	}

}
@mixin users-row () {
	border-bottom: 1px solid grey;
	min-height: 45px;
}
@mixin identity-list () {
	border: 1px solid grey;
}
@mixin mpin-main () {
	height: 75%;
}
@mixin mobile-text () {
	color: #F44373;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
}
@mixin help-box () {
	border-bottom: 1px solid #EAEAEA;
	height: 70%;
	min-height: 70%;
	overflow-y: auto;
}
@mixin pin-pad-button-active () {
	background: #3777ba;
}
@mixin pin-pad-button () {
	border: 0;
	background: none;
	color: #fff;
	text-shadow: 2px 2px 2px #000000;
	display: block;
	text-align: center;
	width: 90%;
	font-size: 1.75em;
	font-weight:normal;
}
@mixin pin-pad-button-text () {
	border: 0;
	background: none;
	color: #fff;
	text-shadow: 2px 2px 2px #000000;
	display: block;
	text-align: center;
	width: 90%;
	font-size: 1.75em;
	font-weight:normal;
}
@mixin pinpad-circleout () {
	background: #E4E4E4;
	width: 32px;
	height: 32px;
	-webkit-border-radius: 61px;
	-moz-border-radius: 61px;
	border-radius: 61px;
	border: 2px solid #585858;
	position: absolute;
	z-index: 800;
}
@mixin pinpad-circlein () {
	margin: 7px;
	background: #3A7FB9;
	width: 18px;
	height: 18px;
	-webkit-border-radius: 48px;
	-moz-border-radius: 48px;
	border-radius: 48px;
	position: absolute;
	z-index: 1000;
	border: 2px solid white;
}
@mixin pin-pad-wrapper () {
	@include gradient(#3777ba, #56bce0);
}
@mixin arrow-icon-open () {
	-webkit-transform: rotate(180deg);
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
}
@mixin identity-row () {
	@include gradient(#FFFFFF, #E8E8E8);
	z-index: 99;
}
@mixin mpin-header-row () {
	padding: 5%;
	/*padding-top: 1%;*/
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}



// Background color
@mixin bg-color() {
	background: #fff;
}

// Font family

@mixin font-family() {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

//  Pin Button style

@mixin pin-btn-style() {

	// Background color

	background: #45484d;
	background: -moz-linear-gradient(top, #45484d 0, #000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000));
	background: -webkit-linear-gradient(top, #45484d 0, #000 100%);
	background: -o-linear-gradient(top, #45484d 0, #000 100%);
	background: -ms-linear-gradient(top, #45484d 0, #000 100%);
	background: linear-gradient(top, #45484d 0, #000 100%);

	// Text color

	color: #fff;

	// Text shadow
	text-shadow: 3px 3px 3px #000000;

	﻿filter: glow(color=#133353, strength=4);

	// Border radius
	-webkit-border-radius: 0.1em;
	-moz-border-radius: 0.1em;
	-ms-border-radius: 0.1em;
	-o-border-radius: 0.1em;
	border-radius: 0.1em;

	// Font size
	font-size: 1.15em;

	padding: 0;
	line-height: 100%;

	// Border surrounding the btn

	border: 1px solid #999;
	border-top-color: #a6a6a6;
	// Active color on press

	&:active {
		background: #ccc;
	}

	&.green {
		background: #44A800;
	}

	&.grey {
		background: #7E7E7E;
	}
}

// Top bar

@mixin top-bar(){
	border-bottom: 1px solid #828284;

	// -webkit-box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.6);
}

@mixin header-bar(){
	border-bottom: 1px solid #828284;
}

// Input pin field

@mixin pin-screen() {

	background: black;
	border: 1px solid #999;
	border-top-color: #a6a6a6;
	color: #fff;
	-webkit-text-fill-color: #fff;
	-webkit-border-radius: 0.1em;
	-moz-border-radius: 0.1em;
	-ms-border-radius: 0.1em;
	-o-border-radius: 0.1em;
	border-radius: 0.1em;

	font-size: 114%;

	min-height: 2.5em;
}

// User

@mixin mpin-user() {
	color: rgb(60, 157, 203);
	font-size: 114%;
}


@mixin mpin-menu() {
	background: url('#{$IMAGES}/PinPad_button_inactive.svg') top left no-repeat;
	width: 30px;
}

@mixin mpin-menu-active() {
	background: url('#{$IMAGES}/PinPad_button_active.svg') top left no-repeat;
	width: 30px;
}

// Mixin home icon

@mixin home-icon() {
}

@mixin mpin-logo() {
}

@mixin logo() {
	width: 183px;
	height: 69px;
	background-image: url('#{$IMAGES}/mpin_header_logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	/*margin: 5px 10px 5px 0px;*/

	display: block;
	@include box-flex-value(1.0);
	width: 100%;
}

@mixin menu-icon() {
	width: 28px;
	height: 28px;
	background-image: url('#{$IMAGES}/mpin_menu.svg');

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;

	@include box-flex-value(1.0);
}


@mixin mobile-icon() {
	width: 30px !important;
	height: 42px !important;
	background-image: url('#{$IMAGES}/phone-green.svg');

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	margin: 5px auto;
	margin-bottom: 9px;

	@include box-flex-value(1.0);
}

@mixin desktop-icon() {
	width: 50px !important;
	height: 42px !important;
	background-image: url('#{$IMAGES}/computer-blue.svg');

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	margin: 5px auto;

	@include box-flex-value(1.0);
}

//almost deprecate
@mixin mpin-button() {
	-moz-transition: all 0.5s ease 0s;
	border: 1px solid transparent !important;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 25px 30px -12px rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.6);*/
	outline: medium none;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	background: #0073AA;
	cursor: pointer;
	color: #FFFFFF;
	height: auto;
	min-height: 1.8em;
	margin-top: 10px;
	margin: 3px 0 .5em;
	font-size: 14px;
}

//except mobile buttons
@mixin mpinButton {
	border: 1px solid transparent;
	border-radius: 0.3em;
	background: $BUTTON_BGCOLOR;
	cursor: pointer;
	color: $BUTTON_COLOR;
	font-weight: bold;
	min-height: 1.8em;
	margin-top: 10px;
	padding: 5px 10px;
	align-items: center;
	text-align: center;
	margin-bottom: 10px;
	line-height: 120%;
}

@mixin central-content() {
	border: 1px solid rgb(86, 86, 86);
	background-color: rgb(46, 46, 46);
}


@mixin central-text() {
	color: white;
	font-size: 14px;
	width: 100%;
	text-align: center;
}

@mixin input-heading(){

	padding: 0px 0px 5px 0px;
	font-size: 4vh;
	width: 100% !important;
	text-align: center;

	span {
		text-align: center;
		color: white;
		background: transparent;
		font-size: 14px;
		/*padding: 0px 0px 5px 0px;*/
		font-weight: bold;
		padding: 20px 10px;
		display: inherit;
	}

}

@mixin email-input() {
	color: black;
	font-size: 114%;
	font-weight: normal;
	background: #fff;
	width: 100%;
	background: #fff;
	width: 100%;
	padding: .4em;
	min-height: 2.5em;
}

@mixin top-heading() {
	color: white;
	padding: 3vh;
	/*font-size: 5vh;*/
	font-size:  0.81em;
	font-weight: bold;
	text-transform: uppercase;
}

@mixin central-heading() {
	color: white;
	font-size: 4vh;
	width: 100%;
	text-align: center;
}

@mixin body-text() {
	padding: 2vh !important;
	color: white;
	text-align: center;
}

@mixin arrow-up-icon () {
	background-image: url('#{$IMAGES}/arrow-down-black.svg');
	width: 22px !important;
	height: 20px !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	margin: 3px auto;
}


@mixin arrow-icon() {
	background-image: url('#{$IMAGES}/arrow.svg');
	width: 1.5em;
	height: 1.5em;
	padding: 20px;
	padding-top: 15px;
}

@mixin btn-text-label() {
	line-height: 1.2em;
}

@mixin mpin-copyright {

}

/// FOOTER
@mixin footer-helphub() {
	width: 120px;
	height: 45px;
	background: url('#{$IMAGES}/m-pin-header-logo.svg') no-repeat;
	background-size: auto 100%;
	background-position: left;
	position: relative;
	top: -8px;
}

@mixin footer-copyright() {
	width: 80px;
	height: 30px;
	float: right;
	background: url('#{$IMAGES}/powered-by-certivox-colour.svg') no-repeat;
	background-size: auto 100%;
	background-position: right bottom;
}


