// GLOBAL CONFIGS

$IMAGES : "../mpinImages/";
$BORDERLESS : true;

$BUTTON_COLOR: #ffffff;
$BUTTON_BGCOLOR: #007cc2;

//HEADER
@mixin header-logo() {
	margin: 5px 0;
	width: 85px;
	height: 20px;
	float: right; 
	background: url('#{$IMAGES}logo-here-grey.svg') no-repeat;
	background-size: auto 100%;
	background-position: right bottom;
}

@mixin header-home () {
	width: 30px;
	height: 23px;
	margin: 3px 0;
	background: url('#{$IMAGES}home.svg') no-repeat;
	background-size: auto 100%;
	background-position: left;
}

// Background color
@mixin bg-color() {
	background: #fff;
}

// Font family

@mixin font-family() {
	font-family: Arial,Helvetica,sans-serif;
}

//  Pin Button style

@mixin pin-btn-style() {

	// Background color

	background: #45484d;
	background: -moz-linear-gradient(top, #45484d 0, #000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000));
	background: -webkit-linear-gradient(top, #45484d 0, #000 100%);
	background: -o-linear-gradient(top, #45484d 0, #000 100%);
	background: -ms-linear-gradient(top, #45484d 0, #000 100%);
	background: linear-gradient(top, #45484d 0, #000 100%);

	// Text color

	color: #fff;

	// Text shadow
	text-shadow: 3px 3px 3px #000000;

	﻿filter: glow(color=#133353, strength=4);

	// Border radius
	-webkit-border-radius: 0.1em;
	-moz-border-radius: 0.1em;
	-ms-border-radius: 0.1em;
	-o-border-radius: 0.1em;
	border-radius: 0.1em;

	// Font size
	font-size: 1.15em;

	padding: 0;
	line-height: 100%;

	// Border surrounding the btn

	border: 1px solid #999;
	border-top-color: #a6a6a6;
	// Active color on press

	&:active {
		background: #ccc;
	}

	&.green {
		background: #44A800;
	}

	&.grey {
		background: #7E7E7E;
	}
}

// Top bar

@mixin top-bar(){
	border-bottom: 1px solid #828284;

	// -webkit-box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.6);
}

@mixin header-bar(){
	border-bottom: 1px solid #828284;
}

// Input pin field

@mixin pin-screen() {

	background: black;
	border: 1px solid #999;
	border-top-color: #a6a6a6;
	color: #fff;
	-webkit-text-fill-color: #fff;
	-webkit-border-radius: 0.1em;
	-moz-border-radius: 0.1em;
	-ms-border-radius: 0.1em;
	-o-border-radius: 0.1em;
	border-radius: 0.1em;

	font-size: 114%;

	min-height: 2.5em;
}

// User

@mixin mpin-user() {
	color: rgb(60, 157, 203);
	font-size: 114%;
}


@mixin mpin-menu() {
	background: url('#{$IMAGES}/PinPad_button_inactive.svg') top left no-repeat;
	width: 30px;
}

@mixin mpin-menu-active() {
	background: url('#{$IMAGES}/PinPad_button_active.svg') top left no-repeat;
	width: 30px;
}

// Mixin home icon

@mixin home-icon() {
}

@mixin mpin-logo() {
}

@mixin logo() {
	width: 183px;
	height: 69px;
	background-image: url('#{$IMAGES}/mpin_header_logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	/*margin: 5px 10px 5px 0px;*/

	display: block;
	@include box-flex-value(1.0);
	width: 100%;
}

@mixin menu-icon() {
	width: 28px;
	height: 28px;
	background-image: url('#{$IMAGES}/mpin_menu.svg');

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;

	@include box-flex-value(1.0);
}


@mixin mobile-icon() {
	width: 30px !important;
	height: 42px !important;
	background-image: url('#{$IMAGES}phone-green.svg');

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	margin: 5px auto;

	@include box-flex-value(1.0);
}

@mixin desktop-icon() {
	width: 50px !important;
	height: 42px !important;
	background-image: url('#{$IMAGES}computer-blue.svg');

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	margin: 5px auto;

	@include box-flex-value(1.0);
}

//almost deprecate
@mixin mpin-button() {
	-moz-transition: all 0.5s ease 0s;
	border: 1px solid transparent !important;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 25px 30px -12px rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.6);*/
	outline: medium none;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	background: #0073AA;
	cursor: pointer;
	color: #FFFFFF;
	height: auto;
	min-height: 1.8em;
	margin-top: 10px;
	margin: 3px 0 .5em;
	font-size: 14px;
}

//except mobile buttons
@mixin mpinButton {
	border: 1px solid transparent;
	border-radius: 0.3em;
	background: $BUTTON_BGCOLOR;
	cursor: pointer;
	color: $BUTTON_COLOR;
	font-weight: bold;
	min-height: 1.8em;
	margin-top: 10px;
	padding: 5px 10px;
	align-items: center;
	text-align: center;
	margin-bottom: 3%;
	line-height: 120%;
}

@mixin central-content() {
	border: 1px solid rgb(86, 86, 86);
	background-color: rgb(46, 46, 46);
}


@mixin central-text() {
	color: white;
	font-size: 14px;
	width: 100%;
	text-align: center;
}

@mixin input-heading(){

	padding: 0px 0px 5px 0px;
	font-size: 4vh;
	width: 100% !important;
	text-align: center;

	span {
		text-align: center;
		color: white;
		background: transparent;
		font-size: 14px;
		/*padding: 0px 0px 5px 0px;*/
		font-weight: bold;
		padding: 20px 10px;
		display: inherit;
	}

}

@mixin email-input() {
	color: black;
	font-size: 114%;
	font-weight: normal;
	background: #fff;
	width: 100%;
	background: #fff;
	width: 100%;
	padding: .4em;
	min-height: 2.5em;
}

@mixin top-heading() {
	color: white;
	padding: 3vh;
	/*font-size: 5vh;*/
	font-size:  0.81em;
	font-weight: bold;
	text-transform: uppercase;
}

@mixin central-heading() {
	color: white;
	font-size: 4vh;
	width: 100%;
	text-align: center;
}

@mixin body-text() {
	padding: 2vh !important;
	color: white;
	text-align: center;
}



@mixin arrow-icon() {
	background-image: url('#{$IMAGES}/arrow.svg');
	width: 1.5em;
	height: 1.5em;
	padding: 20px;
	padding-top: 15px;
}

@mixin btn-text-label() {
	line-height: 1.2em;
}

@mixin mpin-copyright {

}

/// FOOTER
@mixin footer-helphub() {
	width: 80px;
	height: 30px;
	background: url('#{$IMAGES}m-pin-header-logo.svg') no-repeat;
	background-size: auto 100%;
	background-position: left;
}

@mixin footer-copyright() {
	width: 80px;
	height: 30px;
	float: right; 
	background: url('#{$IMAGES}/powered-by-certivox-colour.svg') no-repeat;
	background-size: auto 100%;
	background-position: right bottom;
}


