
<header class="pinpad" id="topNav">
    <a id="mp_action_home" href="#">
        <div id="homeBtn"></div>
    </a>
    </div>
    <div id="mpinLogo"></div>
</header>
<div id="accountTopBar">
    <div id="mpinUser">
        <p>jordan.katsarov@certivox.com</p>
    </div>
    <div id="menuBtn"></div>
</div>

<div id="pinsHolder">

    <div id="inputContainer">
        <input id="pinpad-input" type="text" readonly="true" placeholder="Enter your Access Number">
    </div>

    <div class="pre-row">
        <div class="row">
            <div class="btn">
                <span class="label mp_pindigit" data-value="1">1</span>
            </div>
            <div class="btn">
                <span class="label mp_pindigit" data-value="2">2</span>
            </div>
            <div class="btn">
                <span class="label mp_pindigit" data-value="3">3</span>
            </div>
        </div>
    </div>
    <div class="pre-row">
        <div class="row">
            <div class="btn">
                <span class="label mp_pindigit" data-value="4">4</span>
            </div>
            <div class="btn">
                <span class="label mp_pindigit" data-value="5">5</span>
            </div>
            <div class="btn">
                <span class="label mp_pindigit" data-value="6">6</span>
            </div>
        </div>
    </div>
    <div class="pre-row">
        <div class="row">
            <div class="btn">
                <span class="label mp_pindigit" data-value="7">7</span>
            </div>
            <div class="btn">
                <span class="label mp_pindigit" data-value="8">8</span>
            </div>
            <div class="btn">
                <span class="label mp_pindigit" data-value="9">9</span>
            </div>
        </div>
    </div>
    <div class="pre-row">
        <div class="row bottom">
            <div class="btn">
                <span class="label" id="mpinClear" data-value="clear">clear</span>
            </div>
            <div class="btn">
                <span class="label mp_pindigit" data-value="0">0</span>
            </div>
            <div class="btn">
                <span class="label" id="mpinLogin" data-value="go">login</span>
            </div>
        </div>
    </div>
</div>
<footer class="pinpad" id="mpinFooter">
    <div id="homeBtn"></div>
</footer>