
<header class="pinpad" id="topNav">
    <a id="mp_action_home" href="#">
        <div id="homeBtn"></div>
    </a>
    </div>
    <div id="mpinLogo"></div>
</header>
<div id="accountTopBar">
    <div id="mpinUser">
        <p><%= email %> <% console.log("cfg :::", cfg); %></p>
    </div>
		<div id="menuBtn"></div>
</div>
 
<div id="pinsHolder">

    <div id="inputContainer">
        <input id="pinpad-input" type="password" readonly="true" placeholder="<%= hlp.text("pinpad_placeholder_text") %>">
    </div>

    <div class="pre-row">
        <div class="row">
            <button class="btn" data-value="1">
                <span class="label mp_pindigit">1</span>
            </button>
            <button class="btn" data-value="2">
                <span class="label mp_pindigit">2</span>
            </button>
            <button class="btn" data-value="3">
                <span class="label mp_pindigit">3</span>
            </button>
        </div>
    </div>
    <div class="pre-row">
        <div class="row">
            <button class="btn" data-value="4">
                <span class="label mp_pindigit">4</span>
            </button>
            <button class="btn" data-value="5">
                <span class="label mp_pindigit">5</span>
            </button>
            <button class="btn" data-value="6">
                <span class="label mp_pindigit">6</span>
            </button>
        </div>
    </div>
    <div class="pre-row">
        <div class="row">
            <button class="btn" data-value="7">
                <span class="label mp_pindigit">7</span>
            </button>
            <button class="btn" data-value="8">
                <span class="label mp_pindigit">8</span>
            </button>
            <button class="btn" data-value="9">
                <span class="label mp_pindigit">9</span>
            </button>
        </div>
    </div>
    <div class="pre-row">
        <div class="row bottom">
            <button class="btnClear" data-value="clear" id="mpinClear">
                <span class="label">clear</span>
            </button>
            <button class="btn" data-value="0">
                <span class="label mp_pindigit">0</span>
            </button>
            <button class="btnLogin" data-value="go" id="mpinLogin">
                <span class="label">login</span>
            </button>
        </div>
    </div>
</div>
<footer class="pinpad" id="mpinFooter">
    <div id="homeBtn"></div>
</footer>