
// Input field

#inputContainer {

	margin-top: 10px;
	
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;

	@include display-box-flex();

	#pinpad-input {
		@include pin-screen();
		padding: 0;
		margin: 0;
		width: 100%;
		text-align: center;
		background-clip: padding-box;
	}

	.blue-bg {
		background: #006b9e !important;
	}
}

#pinsHolder {
	
	margin: 10px;
	width: auto;
	height: auto;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-orient: vertical !important;
	-ms-flex-direction: column !important;
	flex-direction: column !important;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;

	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	min-height: 0;
	min-width: 0;

	// Pinbat buttons

	.pre-row {
		position: relative;

		@include box-flex-value(1.0);
		@include display-box-flex();

		.row {
					
			width: 100%;
			height: 100%;

			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			-webkit-box-pack: start;
			-ms-flex-pack: start;
			justify-content: flex-start;

			-webkit-box-align: stretch;
			-ms-flex-align: stretch;
			align-items: stretch;

			-webkit-box-orient: horizontal !important;
			-ms-flex-direction: row !important;
			flex-direction: row !important;

			@include display-box-flex();


			.btn {

				// width: 0 !important;
				// min-width: 0 !important;

				width: 100%;
				height: 100%;

				-webkit-box-flex: 1;

				// Include button styles

				@include pin-btn-style();

				// Set general styling

				cursor: pointer;

				@include display-box-flex();

				flex: 1 100%;

				@include box-flex-value(1.0);

				right: 0;
				bottom: 0;
				left: 0;
				top:0;

				position: relative;

				line-height: 100%;
				height: 100% !important;
				line-height: 100%;
				min-height: 1.8em;

				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;

				.label {
					text-transform: uppercase;
					text-align: center;
					-webkit-box-flex: 1;
					-ms-flex: 1 0 auto;
					flex: 1 0 auto;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					white-space: nowrap;
					text-overflow: ellipsis;
					text-align: center;
					display: block;
					overflow: hidden;
					width: 100%;
					height: 100%;
				}

				-webkit-tap-highlight-color: #ccc;
			}


			.btnClear, .btnLogin {

				// width: 0 !important;
				// min-width: 0 !important;

				width: 100%;
				height: 100%;

				-webkit-box-flex: 1;

				// Include button styles

				@include pin-btn-style();

				// Set general styling

				cursor: pointer;

				@include display-box-flex();

				flex: 1 100%;

				@include box-flex-value(1.0);

				right: 0;
				bottom: 0;
				left: 0;
				top:0;

				position: relative;

				line-height: 100%;
				height: 100% !important;
				line-height: 100%;
				min-height: 1.8em;

				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;

				-webkit-tap-highlight-color: #ccc;

				.label {
					text-transform: uppercase;
					text-align: center;
					-webkit-box-flex: 1;
					-ms-flex: 1 0 auto;
					flex: 1 0 auto;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					white-space: nowrap;
					text-overflow: ellipsis;
					text-align: center;
					display: block;
					overflow: hidden;
					width: 100%;
					height: 100%;
				}
			}
		}

	}

}
