/* 
Copyright 2014 CertiVox UK Ltd, All Rights Reserved.

The CertiVox M-Pin Client and Server Libraries are free software: you can
redistribute it and/or modify it under the terms of the BSD 3-Clause
License - http://opensource.org/licenses/BSD-3-Clause

For full details regarding our CertiVox terms of service please refer to
the following links:

  * Our Terms and Conditions -
    http://www.certivox.com/about-certivox/terms-and-conditions/
  
  * Our Security and Privacy -
    http://www.certivox.com/about-certivox/security-privacy/

  * Our Statement of Position and Our Promise on Software Patents -
    http://www.certivox.com/about-certivox/patents/
*/
/*
   Certivox JavaScript M-Pin Authentication Functions

   Provides these functions:
   calculateMPinToken     Calculates the MPin Token 
   local_entropy          Gets an entropy value from the client machine
   randomX                Calculates a random 254 bit value
   addShares              Add two points on the curve that are originally in hex format
   pass1Request           Form the JSON request for pass one of the M-Pin protocol
   pass2Request           Form the JSON request for pass two of the M-Pin protocol
*/

#header {
	@include top-bar();

	-webkit-box-orient: horizontal !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;

	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	
	#mpinLogo {
		@include logo();

		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;

		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;
		-webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
		-webkit-box-orient: vertical;
		-ms-flex-direction: column;
		flex-direction: column;
		min-height: 0px;
	}

	#menuIcon {
		@include menu-icon();

		display: -webkit-box;
		display: -ms-flexbox;
		-webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
		-webkit-box-orient: vertical;
		-ms-flex-direction: column;
		flex-direction: column;
		min-height: 0px;

		float: right;
		margin: 10px 10px 0 10px;
	}
}

#homeIcon {

	margin-top: 10px;

	-webkit-box-orient: horizontal !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;

	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	-webkit-box-orient: horizontal !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;

	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: white;
	padding: 10% 0px 20px;

	#mobileIcon {
		
		@include mobile-icon();
	}

}

#buttonsContainer {

	margin-top: 3vh;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;


	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical !important;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 0px;

	-webkit-box-align: center;
	-moz-box-align:center;
	-ms-flex-align: center;
	align-items: center;

	width: 100%;
	
	.mpinBtn {
		width: 90%;
	}

	.mpinBtn-green {
		width: 90%;
	}

}