<div class="mpinHeader">
    <div class="mpinLogo mpPointer"></div>
	<div class="mpinHome mpPointer" id="mpin_home"></div>
</div>

<div class="mpinHeaderRow">
	<%=hlp.text( "deactivated_header") %>
</div>

<div class="mpinMain mpPaddTop10">
	<div class="mpinCenter mpinCenter5">
	
		<p class="mpinIdentityText"> <%=  userId %></p>
		
		<%=hlp.text( "deactivated_text1") %>
		<p>
			<%=hlp.text( "deactivated_text2") %>
		</p>
    </div>
	
	<div class="mpinBtnBox">
		<div class="mpinButton" id="mp_action_go">
			<%=hlp.text( "deactivated_button_register") %>
		</div>
	</div>
	
	<info class="mpinHelpInfo" id="mpin_help">
		<i></i>
		<%= hlp.text( "home_hlp_link") %>
	</info>
	
</div>

<div class="mpinFooter">
	<div class="mpinPowered"></div>
	<div class="mpinHelpHub mpPointer" id="mpin_helphub"></div>
</div>