<div class="mpinHeader">
    <div class="mpinLogo mpPointer"></div>
	<div class="mpinHome mpPointer" id="mpin_home"></div>
</div>

<div class="mpinHeaderRow">
	<%=hlp.text( "mobileGet_header") %>
</div>

<div class="mpinMain">
	<div class="mpinCenter mpinCenter5">
		
		<span id="mpin_qrcode">
		</span>

		<p class="mpinJustifyTxt">
			<i class="mpinInfo"></i>
			<%=hlp.text( "mobileGet_text1") %>
		</p>
		<span class="mpinPurple mpWrapped">
			<%= mobileAppFullURL %>
		</span>
	</div>
	
		<div class="mpinBtnBox">

			<div class="mpinButton mpGreen" id="mpinbtn_mobile">
				<span class="iconArrow"></span>
				<%=hlp.text( "mobile_footer_btn")%>
			</div>
		</div>
	
</div>


<div class="mpinFooter">
	<div class="mpinPowered"></div>
	<div class="mpinHelpHub mpPointer" id="mpin_helphub"></div>
</div>