<div class="mpinHeader">
    <div class="mpinLogo mpPointer"></div>
	<div class="mpinHome mpPointer" id="mpin_home"></div>
</div>

<div class="mpinHeaderRow">
</div>



<div class="mpinMain mpNoHeight">
	<div class="mpinBtnBox mpNoPadding">
		<div class="mpinButton mpBtnOnlyBlue mpFontNormal">
			<div class="mpbtnPadding">
				{{txt "otp_header_btn_text"}}
				<div id="mpinOTPNumber"></div>
			</div>
			<div class="mpinNoteTxt">{{txt "otp_remain_text"}}</div>
			<div class="mpbtnExpire" id="mpin_seconds"></div>
		</div>
		<br><br>
		{{txt "otp_under_btn_text"}}
		
	</div>
</div>


<div class="mpinFooter">
	<div class="mpinPowered"></div>
	<div class="mpinHelpHub mpPointer" id="mpin_helphub"></div>
</div>