<div class="mpinHeader">
    <div class="mpinLogo mpPointer"></div>
	<div class="mpinHome mpPointer" id="mpin_home"></div>
</div>


<div class="mpinHeaderRow">
	<%=hlp.text( "setup_header") %>
</div> 


<div class="mpinMain mpPaddTop10">
	
	
	<div class="mpinCenter <%= (setDeviceName) ? "mpCenterTop": "" %>">
		<%=hlp.text( "setup_text1") %>
		<input type="email" id="emailInput" class="mpinInput" placeholder="<%=hlp.text( "setup_placeholder") %>" value="<%= userId %>">
		
		<% if (setDeviceName) { %>
			<br><br><label for="deviceInput"><%=hlp.text( "setup_device_label") %></label>
			<input type="text" id="deviceInput" class="mpinInput" placeholder="<%= deviceNameHolder %> <%=hlp.text( "setup_device_default") %>" value="<%= deviceName %>"><br><br>
		<% } %>
    </div>
	
	<div class="mpinBtnBox">
		<div class="mpinButton" id="mpin_setup">
			<%=hlp.text( "setup_button_setup") %>
		</div>
	</div>

	
	<info class="mpinHelpInfo mpAbsolute" id="mpin_help">
		<i></i>
		<%= hlp.text( "home_hlp_link") %>
	</info>
	
</div>

<div class="mpinIdentityRow mpinFooterRow mpHide" id="mpin_accounts_list">
	<div class="mpinArrowDown mpPointer close mpinAUp" id="mpin_arrow">
		<img src="<%= hlp.img("arrow-down-black.svg") %>">
		
	</div>
</div>


<div class="mpinFooter">
	<div class="mpinPowered"></div>
	<div class="mpinHelpHub mpPointer" id="mpin_helphub"></div>
</div>