
<div class="mpinHeaderRow">
	<%=hlp.text( "settings_title") %>
</div>

<div class="mpinCenter mpinCenter5">
	<p class="mpinIdentityText">
		<%= name %>
	</p>
</div>

<div class="mpinFooterRow">

	<div class="mpinBtnBox">
		<div class="mpinButton" id="mpin_deluser_btn">
			<%=hlp.text( "account_button_delete")%>
		</div>
		
		<div class="mpinButton" id="mpin_reactivate_btn">
			<%=hlp.text( "account_button_reactivate")%>
		</div>
		
		<div class="mpinButton mpBtnOnlyGreen" id="mpin_cancel_btn">
			<%=hlp.text( "account_button_backToList")%>
		</div>
	
	</div>

	
</div>

<!--
<div id="mp_accountListView" class="active">
    <div class="mp_customScrollBox">
        <div class="mp_container">
            <div id="mp_accountContent" class="mp_content">
			
			
			    <div class="mp_accountField" style="padding: 10px 5px 50px 5px;">
					<%=name %>
				</div>
				<div style="padding:0px 10px">
					<button id="mp_deluser" class="mpinBtn" style="padding: 5px;" tabindex=-1>
						<%=hlp.text( "account_button_delete")%>
					</button>
					<br />
					<button id="mp_reactivate" class="mpinBtn" style="padding: 5px;" tabindex=-1>
						<%=hlp.text( "account_button_reactivate")%>
					</button>
				</div>
			
			
			
			</div>
        </div>
    </div>
</div>

	
<div id="bottomBtnHolder">
	<button class="mpinBtn" id="mp_acclist_cancel">
		<span class="btnLabel"><%=hlp.text("account_button_backToList") %></span>
	</button>
</div>
-->