<div class="mpinLists" >
	<ul id="mpin_accounts_list">
		<!-- identities(accounts) list here -->
	</ul>
</div>

<div class="mpinBtnBox">
	<div class="mpinButton" id="mpin_add_identity">
		<%=hlp.text("account_button_addnew") %>
	</div>
	<div class="mpinButton mpGreen" id="mpin_phone">
		<%=hlp.text("signin_mobile_btn_text") %>
	</div>
</div>



<div class="mpinIdentityRow mpinFooterRow">
	<div class="mpinArrowUp mpPointer" id="mpin_pinpad_show"></div>
</div>














<!--
<div id="mp_accountListView" class="active">
    <div class="mp_customScrollBox">
        <div class="mp_container">
            <div id="mp_accountContent" class="mp_content"></div>
        </div>
    </div>
</div>

<div id="bottomBtnHolder">
	<button class="mpinBtn" id="mp_acclist_adduser">
		<span class="btnLabel"><%=hlp.text("account_button_addnew") %></span>
	</button>
</div>

-->