<!-- User section -->
<div class="pinpad" id="topNav">
    <a id="mp_action_home" href="#">
        <div id="homeBtn"></div>
    </a>
    <div id="mpinLogo"></div>
</div>

<!-- Input button -->

<div id="identityContainer">

  <div class="identityMainText">
		
	<div>
		<h1><%= hlp.text("setupReady_header") %></h1>
    </div>
	  
	    <div class="mp_note" style="margin:0pxpadding:0px">
          <p class="mp_center">
              <%=hlp.text( "setupReady_text1") %>
                  <br/>
                  <span style="padding: 10px 5px 20px 5px" class="mp_accountField">
                      <%= email %>
                  </span>
                  <br/>
                  <%=hlp.text( "setupReady_text2") %>
          </p>
          <p class="mp_after_center">
              <%=hlp.text( "setupReady_text3") %>
          </p>
      </div>
  </div>

  <div id="buttonsContainer">
      <div class="mpinBtn" id="mpin_action_setup">
          <span class="iconArrow"></span>
          <span class="btnLabel"><%=hlp.text( "setupReady_button_go") %></span>
      </div>
      <div class="mpinBtn" id="mpin_action_resend">
          <span class="iconArrow"></span>
          <span class="btnLabel"><%=hlp.text( "setupReady_button_resend")%></span>
      </div>
  </div> 

</div>

<div id="mpinFooter">
    <div id="homeBtn">
    </div>
</div>