<div class="mpinHeaderRow">
	<%=hlp.text( "settings_title") %>
</div>

<div class="mpinMain">
	<div class="mpinCenter">
		<%=hlp.text( "account_delete_question") %>
		
		<p class="mpinIdentityText mpPaddTop10">
			<%= name %>
		</p>	
	</div>
</div>

<div class="mpinFooterRow">

	<div class="mpinBtnBox">
		<div class="mpinButton" id="mpin_deluser_btn">
			<%=hlp.text( "account_delete_button")%>
		</div>

		<div class="mpinButton mpBtnOnlyGreen" id="mpin_cancel_btn">
			<%=hlp.text( "account_button_cancel")%>
		</div>
	</div>
	
</div>