<!-- Home/Top Nav Bar -->

<div id="topNav">
    <div id="mp_action_home">
    </div>
    <div id="mpinLogo">
    </div>
</div>

<!-- User section -->

<div id="header">
  <div id="menuIcon"></div>
  <div id="mpinLogo"></div>
</div>

<!-- Input button -->

<div id="identityContainer">

  <div class="identityMainText">
      <div class="congrats">
        <%= hlp.text("deactivated_header") %>
      </div>

      <div class="identityBodyText">
          <p>
			  <span class="mp_accountField">
				  <%=  userId %>
			  </span>
          </p>
          <p>
            <%= hlp.text("deactivated_text1") %>
          </p>
          <p>
              <%= hlp.text("deactivated_text2") %>
          </p>
      </div>
  </div>

  <div id="buttonsContainer">
      <div class="mpinBtn" id="mp_action_go">
          <span class="iconArrow"></span>
          <span class="btnLabel"><%= hlp.text("deactivated_button_register") %></span>
      </div>
  </div> 

</div>

<div id="mpinFooter">
    <div id="homeBtn">
    </div>
</div>