<div id="header">
    <div id="mpinLogo"></div>
</div>

<info class="mpinHelpInfo helpHubTitle">
	<i></i>
	<%= hlp.text( "help_hub_title") %>
</info>

<div class="mpinHelpBlock">
	<ul>
		<li id="mpin_hub_li1"><%= hlp.text( "help_hub_li1") %></li>
		<li id="mpin_hub_li2"><%= hlp.text( "help_hub_li2") %></li>
		<li id="mpin_hub_li3"><%= hlp.text( "help_hub_li3") %></li>
		<li id="mpin_hub_li4"><%= hlp.text( "help_hub_li4") %></li>
		
	</ul>
</div>
<div class="mpinHelpHubFooter">
	<div class="mpinBtn mpinBlueBtn" id="mpin_close_hub">
		<span class="btnLabel">
			<%=hlp.text( "help_hub_button") %>
		</span>
	</div>
</div>

<div id="mpinFooter">
    <a href="#" class="mpinHelpHub"></a>
	<div id="homeBtn"></div>
</div>