<div id="header">
    <div id="mpinLogo"></div>
</div>

<info class="mpinHelpInfo helpHubTitle">
	<%= hlp.text( "help_hub_li1") %>
</info>

<div class="mpinHelpBlock">
	
	<p><%= hlp.text( "help_hub_3_p1") %></p>
	<p><%= hlp.text( "help_hub_3_p2") %></p>
</div>

<div class="mpinHelpHubFooter">
	<div class="mpinBtn mpinBlueBtn" id="mpin_help_hub">
		<span class="btnLabel">
			<%=hlp.text( "help_hub_return_button") %>
		</span>
	</div>
</div>

<div id="mpinFooter">
    <div id="homeBtn"></div>
</div>