<div class="mpinHeader">
    <div class="mpinLogo mpPointer"></div>
	<div class="mpinHome mpPointer" id="mpin_home"></div>
</div>
<!-- for all subViews-->

<info class="mpinHelpInfo helpHubTitle">
	<i></i>
	<%= hlp.text( "help_hub_title") %>
</info>


<div class="mpinMain mpPaddTop10">

	<div class="mpinHelpBlock">
		<ul>
			<li id="mpin_hub_li1"><%= hlp.text( "help_hub_li1") %></li>
			<li id="mpin_hub_li2"><%= hlp.text( "help_hub_li2") %></li>
			<li id="mpin_hub_li3"><%= hlp.text( "help_hub_li3") %></li>
			<li id="mpin_hub_li4"><%= hlp.text( "help_hub_li4") %></li>
			
		</ul>
	</div>

	<div class="mpinBtnBox">
		<div class="mpinButton" id="mpin_close_hub">
			<%=hlp.text( "help_hub_button")%>
		</div>
	</div>
</div>


<div class="mpinFooter">
	<div class="mpinPowered"></div>
	<div class="mpinHelpHub mpPointer" id="mpin_helphub"></div>
</div>