<div id="header">
    <div id="mpinLogo"></div>
</div>
  
<div class="mpinIntroText">
	<%=hlp.text("home_intro_text") %>
</div>

<div id="renderMobileHome"></div>

<div id="buttonsContainer">
    <div class="mpinBtn mpinBlueBtn" id="mpin_desktop">
        <span class="btnLabel">
			<span class="mpinBold">
				<%=hlp.text( "signin_btn_desktop1") %>
			</span>
			<%=hlp.text( "signin_btn_desktop2") %>
		</span>
    </div>

	<info class="mpinHelpInfo" id="mpin_help">
		<i></i>
		<%= hlp.text( "home_hlp_link") %>
	</info>
</div>

<div id="mpinFooter">
	<a href="#" class="mpinHelpHub" id="mpin_desktop_hub"></a>
    <div id="homeBtn"></div>
</div>