<header id="header">
    <div id="mpinLogo"></div>
</header>

<div id="renderMobileHome"></div>

<div id="homeIcon">
    <div id="mobileIcon"></div>
</div>
<div id="buttonsContainer">
    <div class="mpinBtn" id="mpin_authenticate">
        <span class="iconArrow"></span>
        <span class="btnLabel"><%=hlp.text("home_button_authenticateBrowser") %></span>
    </div>
    <div class="mpinBtn" id="mpin_setup">
        <span class="iconArrow"></span>
        <span class="btnLabel"><%=hlp.text("home_button_setupBrowser") %></span>
    </div>       
</div>
<footer id="mpinFooter">
    <div id="homeBtn"></div>
</footer>