<!-- Home/Top Nav Bar -->
<div class="pinpad" id="topNav">
    <a id="mp_action_home" href="#">
        <div id="homeBtn"></div>
    </a>
    <div id="mpinLogo"></div>
</div>

<!-- Input button -->

<div id="identityContainer">

  <div class="identityMainText">
      <div>
	  <h1><%= hlp.text("setupNotReady_header") %></h1>
      </div>

      <div class="mp_note" style="margin:0px; padding:0px">
          <p class="mp_center">
              <%=hlp.text( "setupNotReady_text1") %>
                  <br/>
                  <span style="padding: 10px 5px 20px 5px" class="mp_accountField">
                      <%= email %>
                  </span>
                  <br/>
                  <%=hlp.text( "setupNotReady_text2") %>
          </p>
          <p class="mp_after_center">
              <%=hlp.text( "setupNotReady_text3") %>
          </p>
      </div>
  </div>

  <div id="buttonsContainer">
      <div class="mpinBtn" id="mpin_setup">
          <span class="iconArrow"></span>
          <span class="btnLabel btnLabelArrow"><%=hlp.text( "setupNotReady_button_check") %></span>
      </div>
      <div class="mpinBtn" id="mpin_resend">
          <span class="iconArrow"></span>
          <span class="btnLabel btnLabelArrow"><%=hlp.text( "setupNotReady_button_resend")%></span>
      </div>
	  <div class="mpinBtn" id="mpin_accounts">
          <span class="iconArrow"></span>
          <span class="btnLabel btnLabelArrow"><%=hlp.text( "setupNotReady_button_back")%></span>
      </div>
  </div>

</div>

<div id="mpinFooter">
    <div id="homeBtn">
    </div>
</div>