<!-- Home/Top Nav Bar -->
<div id="header">
    <div id="mpinLogo"></div>
</div> 

<div class="mpinTabMiddle clrGreen mpinBtm10">
<!--
	<div>
		<%=hlp.text("mobile_header_txt1") %>
		<span class="mpinColorRed">
			<%= hlp.text("mobile_header_donot") %>
		</span>
		<%=hlp.text("mobile_header_txt3") %>
	</div>
-->
	<div>
		<div id="homeIcon">
			<div id="mobileIcon"></div>
		</div>
	</div>
</div>

<div class="mpinMobileGrBtn mpinBtm10">
	<div class="mpinGrTxt" id="mpinDownWhite">
		<%=hlp.text( "signin_mobile_btn_text") %>
		
	</div>
	<div class="mpinGrTxt">
		<%=hlp.text( "mobileAuth_text1") %>
		<span id="mpinAccessNumber">
		</span>

	</div>
	<i class="mpinInfoCenter" id="mpin_access_help"></i>
	<div class="mpinMobileWhBtn" id="mpin_seconds">
		99 seconds
	</div>
</div>

<div class="mpinBtn mpinBtm10" id="mpin_action_setup">
    <span class="iconArrow"></span>
    <span class="btnLabel btnLabelArrow">
		<%=hlp.text( "home_button_getMobile") %>
	</span>
</div>

<div class="mpinMain mpNoHeight">
	<div class="mpinBtnBox mpNoPadding">
		<div class="mpinButton mpBtnOnlyBlue" id="mpin_desktop">
			 <%=hlp.text( "landing_button_newuser") %>
		</div>
	</div>
</div>

<div class="mpinFooter mpinFooterHome">
	<info class="mpinHelpInfo" id="mpin_help">
		<i></i>
		<%= hlp.text( "home_hlp_link") %>
	</info>
</div>