<div class="mpinHeader">
    <div class="mpinLogo mpPointer"></div>
	<div class="mpinHome mpPointer" id="mpin_home"></div>
</div>

<div class="mpinHeaderRow">
	<%=hlp.text( "mobileGet_header") %>
</div>

<div class="mpinMain">
	<div class="mpinCenter mpinCenter5">
		
		<span id="mpin_qrcode">
		</span>

		<p class="mpinJustifyTxt">
			<i class="mpinInfo"></i>
			<%=hlp.text( "mobileGet_text1") %>
		</p>
		<span class="mpinPurple mpWrapped">
			<%= mobileAppFullURL %>
		</span>
	</div>
	
	<div class="mpinFooterRow">
		<div class="mpinBtnBox">

			<div class="mpinButton mpGreen" id="mpinbtn_mobile">
				<span class="iconArrow"></span>
				<%=hlp.text( "mobile_footer_btn")%>
			</div>
		</div>
	</div>
	
</div>


<div class="mpinFooter">
	<div class="mpinPowered"></div>
	<div class="mpinHelpHub mpPointer" id="mpin_helphub"></div>
</div>

<!--
<div class="pinpad" id="topNav">
    <a id="mp_action_home" href="#">
        <div id="homeBtn"></div>
    </a>
    <div id="mpinLogo"></div>
</div>

<div id="mpinMobileTitle">
	<%=hlp.text( "mobileGet_header") %>
</div>

<div id="pinsHolder">
	<div class="mpinMobileHolder" id="mpinSetupHolder">
		<p>
			<%=hlp.text( "mobileGet_text1") %>
		</p>
		
		<span id="mpin_qrcode">
		</span>
		
		<p>
			<%=hlp.text( "mobileGet_text2") %>
			<br />
            <%= mobileAppFullURL %>
		</p>
		
	</div>
	
	<div id="mpinMobileButton">
		<button id="mp_action_cancel" class="mpinMobileButton">
				<%=hlp.text( "mobile_footer_btn") %>
		</button>
	</div>
</div>

<div id="mpinFooter">
    <div id="homeBtn"></div>
</div>
-->