<div class="pinpad" id="topNav">
    <a id="mp_action_home" href="#">
        <div id="homeBtn"></div>
    </a>
    <div id="mpinLogo"></div>
</div>

<div id="mpinMobileTitle">
	<%=hlp.text( "mobileGet_header") %>
</div>

<div id="pinsHolder">
	<div class="mpinMobileHolder" id="mpinSetupHolder">
		<p>
			<%=hlp.text( "mobileGet_text1") %>
		</p>
		
		<span id="mpin_qrcode">
		</span>
		
		<p>
			<%=hlp.text( "mobileGet_text2") %>
			<br />
            <%= mobileAppFullURL %>
		</p>
		
	</div>
	
	<div id="mpinMobileButton">
		<button id="mp_action_cancel" class="mpinMobileButton">
				<%=hlp.text( "mobileGet_button_back") %>
		</button>
	</div>
</div>

<div id="mpinFooter">
    <div id="homeBtn"></div>
</div>