<!-- Home/Top Nav Bar -->
<div id="header">
    <div id="mpinLogo"></div>
</div> 

<div class="mpinTabMiddle clrGreen mpinBtm10">
	<div>
		<%=hlp.text("mobile_header_txt1") %>
		<span class="mpinColorRed"><%= hlp.text("mobile_header_donot") %></span>
		<%=hlp.text("mobile_header_txt3") %>
	</div>
	<div>
		<div id="homeIcon">
			<div id="mobileIcon"></div>
		</div>
	</div>
</div>

<div class="mpinMobileGrBtn mpinBtm10">
	<div class="mpinGrTxt" id="mpinDownWhite">
		Sign in with Smartphone
	</div>
	<div class="mpinGrTxt">
		Your Access Number is:
		
		<span id="mpinAccessNumber">
		</span>

	</div>
	
	<div class="mpinMobileWhBtn" id="mpin_seconds">
		99 seconds
	</div>
</div>

<div class="mpinBtn mpinBtm10" id="mpin_action_setup">
    <span class="iconArrow"></span>
    <span class="btnLabel btnLabelArrow"><%=hlp.text( "setupReady_button_go") %></span>
</div>

<div class="mpinMobileGrBtn mpinBtm10" id="mpin_login_desktop">
    I <span class="mpinColorRed">DO</span> trust this computer
</div>


<div id="mpinFooter">
    <div id="homeBtn">
    </div>
</div>