<div id="mp_operationView" class="active">
	<div class="mp_container">
            
		<div class="mp_headerFrame">
			<div class="mp_alertTitle">
				<%=hlp.text( "account_reactivate_question") %>
			</div>
			<div class="mp_accountField">
				<%=name %>
			</div>
		</div>
		<div class="mp_bottomFrame">
			<div style="padding:0px 10px">
				<button id="mp_acclist_reactivateuser" class="mpinBtn" tabindex=-1>
					<%=hlp.text( "account_reactivate_button") %>
				</button>
			</div>
			<button id="mp_acclist_cancel" class="mpinGreyButton" tabindex=-1>
				<%=hlp.text( "account_button_cancel") %>
			</button>
		</div>
	
	</div>
</div>