<div class="mpinHeaderRow">
	<%=hlp.text( "setup_header") %>
</div>


<div class="mpinMain mpPaddTop10">
	
	<div class="mpinCenter">
		<%=hlp.text( "setup_text1") %>
		<input type="email" id="emailInput" class="mpinInput" placeholder="<%=hlp.text( "setup_placeholder") %>" value="<%= userId %>">
    </div>
	
	<div class="mpinBtnBox">
		<div class="mpinButton" id="mpin_setup">
			<%=hlp.text( "setup_button_setup") %>
		</div>
	</div>

	
	<info class="mpinHelpInfo mpAbsolute" id="mpin_help">
		<i></i>
		<%= hlp.text( "home_hlp_link") %>
	</info>
	
</div>