<div class="mpinHeaderRow">
	<%=hlp.text( "setup_header") %>
</div>


<div class="mpinMain mpPaddTop10">
	
	<div class="mpinCenter">
		<%=hlp.text( "setup_text1") %>
		<input type="email" id="emailInput" class="mpinInput" placeholder="<%=hlp.text( "setup_placeholder") %>" value="<%= userId %>">
    </div>
	
	<div class="mpinBtnBox">
		<div class="mpinButton" id="mpin_setup">
			<%=hlp.text( "setup_button_setup") %>
		</div>
	</div>

	
	<info class="mpinHelpInfo mpAbsolute" id="mpin_help">
		<i></i>
		<%= hlp.text( "home_hlp_link") %>
	</info>
	
</div>

<!--
<div class="mpinIdentityRow mpinFooterRow mpHide" id="mpin_accounts_list">
	<div class="mpinArrowDown mpPointer close mpinAUp" id="mpin_arrow">
		<img src="public/mpin/images/arrow-down-black.svg">
	</div>
</div>
-->