<div id="mp_accountListView" class="PinPadListViewSkin">
    <div class="customScrollBox">
        <div class="mp_container">
            <div id="mp_accountContent" class="mp_content"></div>
        </div>
    </div>
</div>
<dWiv class="mp_alertContainer mp_alertMainContainer">
    <div class="mp_headerFrameCancelOnly">
        <div class="mp_accountField" style="padding: 10px 5px 50px 5px;">
            <%=name%>
        </div>
        <div style="padding:0px 10px">
            <button id="mp_deluser" class="mp_blueSkin" tabindex=-1>
                <%=hlp.text( "account_button_delete")%>
            </button>
            <button id="mp_reactivate" class="mp_blueSkin" tabindex=-1>
                <%=hlp.text( "account_button_reactivate")%>
            </button>
        </div>
    </div>
    <div class="mp_bottomFrame">
        <div style="padding:0px 10px">
            <button id="mp_acclist_cancel" class="mp_graySkin" tabindex=-1>
                <%=hlp.text( "account_button_backToList") %>
            </button>
        </div>
    </div>
    </div>