<!-- Home/Top Nav Bar -->

<header id="topNav">
    <div id="mp_action_home">
    </div>
    <div id="mpinLogo">
    </div>
</header>

<!-- User section -->

<div id="addIdentity">
  <div class="identityHeader"><%=hlp.text( "setup_header") %></div>
</div>

<!-- Input button -->

<div id="identityContainer">
  <div class="inputContainer">
    
    <div class="identityElHolder">
      <div class="identityText">
          <span><%=hlp.text( "setup_text1") %></span>
      </div>

      <div class="identityInput">
        <div>
          <input type="email" id="emailInput" placeholder="Enter pin here" value="">
        </div>
      </div>
    </div>

  </div>

  <div class="identityMainText">
      <div>
        <%=hlp.text( "setup_text2") %>
      </div>
  </div>

</div>

<div id="bottomBtnHolder">
    <button class="mpinBtn" id="mp_action_setup">
        <span class="btnLabel"><%=hlp.text( "setup_button_setup") %></span>
    </button>
</div>

<footer id="mpinFooter">
    <div id="homeBtn">
    </div>
</footer>