/* 
Copyright 2014 CertiVox UK Ltd, All Rights Reserved.

The CertiVox M-Pin Client and Server Libraries are free software: you can
redistribute it and/or modify it under the terms of the BSD 3-Clause
License - http://opensource.org/licenses/BSD-3-Clause

For full details regarding our CertiVox terms of service please refer to
the following links:

  * Our Terms and Conditions -
    http://www.certivox.com/about-certivox/terms-and-conditions/
  
  * Our Security and Privacy -
    http://www.certivox.com/about-certivox/security-privacy/

  * Our Statement of Position and Our Promise on Software Patents -
    http://www.certivox.com/about-certivox/patents/
*/
/*
   Certivox JavaScript M-Pin Authentication Functions

   Provides these functions:
   calculateMPinToken     Calculates the MPin Token 
   local_entropy          Gets an entropy value from the client machine
   randomX                Calculates a random 254 bit value
   addShares              Add two points on the curve that are originally in hex format
   pass1Request           Form the JSON request for pass one of the M-Pin protocol
   pass2Request           Form the JSON request for pass two of the M-Pin protocol
*/

.mpinBtnBox {
	//instead of width: 90%
	padding: 0% 5%;
	background: #fff;
	z-index: 99;
	
	&.mpinBtnDown {
		position: absolute;
		bottom: 11%;
		width: 100%;
	}

	.mpinButton {
		@include mpinButton();

		&.mpBtnHome {
			padding: 10px;
			font-size: 95%;
			line-height:130%;
			margin:0px;
		}
		&.mpFontNormal {
			font-weight: normal;
			font-size: 16px;
			margin-bottom: 5px;
		}

		&.mpinBtnOk {
			color: #00a800;
		}
		&.mpinBtnError {
			color: red;
		}

		p {
			font-size: 87%;
			color: #fff;
		}
		//MOBILE buttons
		.mpBorderWhite {
			border-bottom: 1px solid white;
			font-size:0.93em;
			padding-bottom:3px;
		}
		.mpbtnPadding {
			padding: 7px 0 3px;

			#mpinAccessNumber, #mpinOTPNumber {
				font-size: 24px;
				letter-spacing: .4em;
				padding: 8px;
			}
		}
		.mpbtnExpire {
			@include mpin-button();
			width: 80px;
			background: white;
			box-shadow: none;
			margin: auto;
			text-align: center;
			padding: 0px;
			font-weight: bold;
			margin-bottom: 5px;
			font-size:0.75em;
			border-radius: 0.6em;
			min-height:1.6em
		}

		.mpbtnIconArrow {
			@include arrow-icon();
			display: block;
			position: absolute;
			right: 5%;
			background-repeat: no-repeat;
			background-position: center;
		}


	}
	&.mpNoPadding {
		padding-top:0;
		padding-bottom:0;
	}

	.mpGreen {
		background: #00a800;
		font-size:0.93em;
	}
	.mpBtnOnlyGreen {
		background: none;
		color: #00a800;
		border-color: #00a800;
	}
	.mpBtnOnlyBlue {
		background: none;
		color: #007cc2;
		border-color: #007cc2;
		font-size: 0.87em;
		padding: 14px 0;
	}
}
