.mpinBtnBox {
	//instead of width: 90%
	padding: 5%;

	.mpinButton {
		@include mpinButton();

		&.mpBtnHome {
			padding-left: 0px;
			padding-right: 0px;
			font-size: 90%;
		}
		&.mpFontNormal {
			font-weight: normal;
			font-size: 16px;
			margin-bottom: 5px;
		}

		p {
			font-size: 85%;
		}
		//MOBILE buttons
		.mpBorderWhite {
			border-bottom: 1px solid white;
		}
		.mpbtnPadding {
			padding: 7px;
			
			#mpinAccessNumber {
				font-size: 24px;
				letter-spacing: .2em;
				padding: 10px;
			}
		}
		.mpbtnExpire {
			@include mpin-button();
			width: 100px;
			background: white;
			box-shadow: none;
			margin: auto;
			text-align: center;
			padding: 4px;
			font-weight: bold;
			margin-bottom: 5px;
		}

		.mpbtnIconArrow {
			@include arrow-icon();
			display: block;

			position: absolute;
			right: 5%;
			background-repeat: no-repeat;
			background-position: center;
		}


	}
	&.mpNoPadding {
		padding-top:0;
		padding-bottom:0;
	}

	.mpGreen {
		background: #00a800;
	}
	.mpBtnOnlyGreen {
		background: none;
		color: #00a800;
		border-color: #00a800;
	}
	.mpBtnOnlyBlue {
		background: none;
		color: #007cc2;
		border-color: #007cc2;
	}
}
