.mpinBtnBox {
	//instead of width: 90%
	padding: 5%;
	
	.mpinButton {
		border: 1px solid transparent !important;
		border-radius: 0.3em;
		background: #007cc2;
		cursor: pointer;
		color: #FFFFFF;
		font-weight: bold;
		min-height: 1.8em;
		margin-top: 10px;
		padding: 5px 10px;
		align-items: center;
		text-align: center;
		margin-bottom: 3%;
		line-height: 120%;
		/*margin: 0 auto;*/
	}
	
	.mpGreen {
		background: #00a800;
	}
}
