/* 
Copyright 2014 CertiVox UK Ltd, All Rights Reserved.

The CertiVox M-Pin Client and Server Libraries are free software: you can
redistribute it and/or modify it under the terms of the BSD 3-Clause
License - http://opensource.org/licenses/BSD-3-Clause

For full details regarding our CertiVox terms of service please refer to
the following links:

  * Our Terms and Conditions -
    http://www.certivox.com/about-certivox/terms-and-conditions/
	
  * Our Security and Privacy -
    http://www.certivox.com/about-certivox/security-privacy/

  * Our Statement of Position and Our Promise on Software Patents -
    http://www.certivox.com/about-certivox/patents/
*/
/*
   Certivox JavaScript M-Pin Authentication Functions

   Provides these functions:
   calculateMPinToken     Calculates the MPin Token 
   local_entropy          Gets an entropy value from the client machine
   randomX                Calculates a random 254 bit value
   addShares              Add two points on the curve that are originally in hex format
   pass1Request           Form the JSON request for pass one of the M-Pin protocol
   pass2Request           Form the JSON request for pass two of the M-Pin protocol
*/

/*@import "http://fonts.googleapis.com/css?family=Open+Sans:400,700,300";*/
//http://bourbon.io/docs/#font-face

/*@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);*/
/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/


.mpinHeader {

	@include mpin-header();

	.mpinHome {
		@include header-home();
	}

	.mpinLogo {
		@include header-logo();
	}
}

.mpMobileColor {
	@include mobile-bgcolor();
}

.mpinHeaderBig {
	width: 90%;
	margin: auto;
	text-align:center;
	line-height: 1.3em;
	font-size: 18px;


	#mpinLogo {
		@include logo();
	}

	&.mpMobColor {
		@include mobile-color();
	}
}

.mpinHeaderRow {
	@include mpin-header-row();

	&.mpHeaderPadd {
		padding: 0px;
		font-size: 15px;
	}

	.mpinMobileIcon {
		@include mobile-icon();
		background-position:center;
		width:50px !important;
	}

	.mobIconRight { background-position:24px 0; width:47px !important}

	.mpinBorderBottom {
		border-bottom:1px solid #00a800;
		margin:0px 12px;
	}
}

.mpinIdentityRow {
	@include identity-row();
	z-index: 99;
	/*width: 100%;*/
	.mpinArrowDown {
		&.mpinADown {
			@include arrow-up-icon();
		}

		&.mpinAUp {
			@include arrow-icon-open();
		}

		img {
			height: 20px;
			width: 20px;
			/*float: right;*/
			/*top: -16px;*/
			transition: 1s all ease-in-out;
			position: relative;
			margin-bottom: 5px;
		}

		.mpinArrowImg {
			@include arrow-up-icon();
		}
	}

	#mpinCurrentIden, .mpinCurrentIdentity {
		padding: 0px;
		margin: 0px;
		text-align: left;
		padding-left: 10px;
		.mpinIdentityLabel {
			font-size: 12px;
			color: #444;
		}
		.mpinIdentityTitle {
			font-size:14px; 
			color: #0277db
		}
	}

	.mpinIdentityRowInner {
		line-height: 30px;
		font-size: 14px;
	}
	/*	.mpinArrowUp {
			height: 20px;
			width: 20px;
			float: right;
			margin: 3px;
			background: url('#{$IMAGES}/arrow-up-black.svg') no-repeat;
			background-size: auto 100%;
			background-position: right bottom;
		}*/
	.mpinIdentity {
		text-align: center;
		padding: 5px 0px;
	}
}

.mpinPinpad {
	@include pin-pad-wrapper();

	@import 'pinpads';
}

@import 'help';

.mpinMain {
	@include mpin-main();

	@import 'identity';

	@import 'buttons';

	.mpinCenter5 {
		padding-top: 3% !important;
	}

	&.mpNoHeight {
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	.mpinCenter {
		width: 90%;
		margin:0 auto;
		text-align: center;
		padding-top: 20%;

		&.mpCenterTop {
			padding-top: 0%;
		}

		.mpinInput {
			@include mpin-input-field();
		}

		.mpinInput::-webkit-input-placeholder {
			font-style: italic;
		}
		.mpinInput:-moz-placeholder { /* Firefox 18- */
			font-style: italic;
		}
		.mpinInput::-moz-placeholder {  /* Firefox 19+ */
			font-style: italic;
		}
		.mpinInput:-ms-input-placeholder {  
			font-style: italic;
		}

		.mpinLabel {
			height: 40px;
			padding-top:10px;
			display: block;
			text-align: left;
		}

		.mpinInputGroup {
			width: 100%;
			display: inline-table;
			vertical-align: middle;
			position: relative;
			border-collapse: separate;
			display: table;
			box-sizing: border-box;

			.mpinInputAdd {
				width: auto;

				white-space: nowrap;
				vertical-align: middle;

				display: table-cell;

				background-color: #d3dbd6;
				border: 1px solid #6e8778;
				border-radius: 4px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-right: 0;

				@include email-input-before();
			}
			.mpinScr {
				@include device-input-before();
			}
		}



		.mpinIdentityText {
			@include identity-text();
		}
		.mpinIdentityText {
			@include identity-text();
			font-size: 18px;
		}

		.mpinInfoText {
			color: #353535;
			padding: 10px;
		}

		&.mpHomeTxt {
			font-size: 150%;
			padding-bottom: 4%;
		}
	}

	.mpinInfo {
		background-image: url('#{$IMAGES}/info.svg');
		background-repeat: no-repeat;
		background-position: bottom;
		width: 25px;
		height: 25px;
		display: inline-block;
		margin-right: 3px;
		margin-bottom: -3px;
		cursor: pointer;
	}

	&.mpinAnimateIn {
		transition: all 0.5s ease-in;
	}
	&.mpinAnimateOut {
		transition: all 0.5s ease-out;
	}

	.mpErrorIcon {
		@include mpin-error-icon();
	}
	.mpErrorNumber {
		margin: 20px auto;
	}

}

.mpinInfoCenter {
	background-image: url('#{$IMAGES}/info-white.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	width: 23px;
	height: 23px;
	display: inline-block;
	margin-right: 3px;
	margin-top: -2px;
	position: absolute;
	left: 22%;
	cursor: pointer;

}

.mpLeft20 {
	margin-left: 20px;
}

.mpWrapped {
	width: 90%;
	word-wrap: break-word;
}


.mpHide {
	display: none;
}

.mpZero {
	height: 0px;
	padding: 0px;
}
.mpinColorRed {
	color: #FC0409;
	font-style: italic;
}

.mpPointer {
	@include mpin-logo-pointer();
}

.mpPaddTop10 {
	padding-top: 20px;
}

.mpPaddBot10 {
	padding-bottom: 20px;
}

.mpinBold { font-weight:bold;}
.mpinItalic { font-style:italic;}

.mpTop25per {
	padding-top: 25%;
}
.mp10Down {
	margin-down: 10px;
}

.marBot10 {
	margin-bottom: 10px;
}

.marBot20 {
	margin-bottom: 20px;
}

.marTop20 {
	margin-top: 20px;
}

.border0 {
	border:0px
}

//MOBILE
#mpin_qrcode {
	display: block;
	width: 130px;
	height: 130px;
	margin: 0 auto 10px;
}
#mpin_seconds {
	@include  mpin-expire-second();
	/*margin: 15px 0;*/
}

/////////////////////////////////////////////////
//timer Feature
.mpinTimerBox {
	position: relative;
	margin: 15px;

	/*	#mpTimer {
			border: 1px solid green;
		}*/

	.mpLeftTime {
		position: absolute;
		margin-left: -30px;
		margin-top: 10px;
	}
}



.mpinFooterRow {
	bottom: 0%;
	min-height: 6%;
	width: 100%;
	z-index: 99;
	position: absolute;
}

.mpinFooter {
	@include footer();


	.mpinHelpHub {
		@include footer-helphub();
	}
	.mpinPowered {
		@include footer-copyright();
	}

	&.mpinFooterHome {
		border: none;
		height:11%;
		/*bottom: 2vh;*/
	}

	&.mpMobileFooter {
		@include mobile-footer();
	}
}