@mixin gradient($color1, $color2) {
	background-image: -moz-linear-gradient(center top , $color1 0%, $color2);
	background: -webkit-linear-gradient($color1, $color2); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($color1, $color2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($color1, $color2); /* For Firefox 3.6 to 15 */
	background: linear-gradient($color1, $color2);
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}



.mpinHeader {
	border-bottom: 1px solid #828284;
	padding: 5px !important;
	/*width: 100%;*/
	height: 40px;

	.mpinHome {
		@include header-home();
		height: 21px;
		margin: 5px 6px;
	}
	.mpinLogo {
		@include header-logo();
		margin: 5px 6px;
		height: 16px;
	}
}

.mpinHeaderBig {
	width: 90%;
	margin: auto;
	text-align:left;
	line-height: 1.3em;

	#mpinLogo {
		@include logo();
	}


}

.mpinHeaderRow {
	padding: 5%;
	/*padding-top: 1%;*/
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;

	&.mpHeaderPadd {
		padding: 0px;
		font-size: 15px;
	}

	&.mpHeaderTable {
		display: table;
		width: 90%;
		margin: 0 auto;
	}

	.mpinTextGreenBorder {
		border-bottom: 1px solid #06B405;
		color: #06B405;
		text-transform: none;
		font-style:italic;
		font-size:0.93em;
		padding-bottom: 5px;
		div {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.mpinMobileIcon {
		@include mobile-icon();
		background-position:center;
		width:50px !important;
	}

	.mobIconRight { background-position:24px 0; width:47px !important}

	.mpinBorderBottom {
		border-bottom:1px solid #00a800;
		margin:0px 12px;
	}
}

.mpinIdentityRow {

	@include gradient(#FFFFFF, #E8E8E8);
	z-index: 99;
	/*width: 100%;*/
	.mpinArrowDown {
		&.mpinAUp {
			-webkit-transform: rotate(180deg);
			transform:rotate(180deg);
			-ms-transform:rotate(180deg); /* IE 9 */
		}

		img {
			height: 20px;
			width: 20px;
			/*float: right;*/
			/*top: -16px;*/
			transition: 1s all ease-in-out;
			position: relative;
			margin-bottom: 5px;
		}
	}
	/*	.mpinArrowUp {
			height: 20px;
			width: 20px;
			float: right;
			margin: 3px;
			background: url('#{$IMAGES}arrow-up-black.svg') no-repeat;
			background-size: auto 100%;
			background-position: right bottom;
		}*/
	.mpinIdentity {
		text-align: center;
		padding: 5px 0px;
	}
	.mpinIdentityGradient {
		@include gradient(#FFFFFF, #E8E8E8);
	}
}

.mpinPinpad {
	@include gradient(#3777ba, #56bce0);
	@import 'pinpads';
}

@import 'help';

.mpinMain {
	height: 75%;

	@import 'identity';

	@import 'buttons';

	.mpinCenter5 {
		padding-top: 3% !important;
	}

	&.mpNoHeight {
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	.mpinCenter {
		width: 90%;
		margin:0 auto;
		text-align: center;
		padding-top: 20%;

		&.mpCenterTop {
			padding-top: 0%;
		}

		.mpinInput {
			text-align: center;
			color: grey;
			padding: .88em .4em;
			font-style: italic;
			border: 1px solid #A3A3A3;
			width: 100%;
			margin-top: 8%;
			font-size: 0.88em;
		}
		.mpinIdentityText {
			color: red;
		}
		.mpinInfoText {
			color: #353535;
			padding: 10px;
		}
		&.mpHomeTxt {
			font-size: 150%;
			padding-bottom: 1%;
		}
	}

	.mpinInfo {
		background-image: url('#{$IMAGES}info.svg');
		background-repeat: no-repeat;
		background-position: bottom;
		width: 25px;
		height: 25px;
		display: inline-block;
		margin-right: 3px;
		margin-bottom: -3px;
	}

	&.mpinAnimateIn {
		transition: all 0.5s ease-in;
	}
	&.mpinAnimateOut {
		transition: all 0.5s ease-out;
	}
}

.mpinInfoCenter {
	background-image: url('#{$IMAGES}info-white.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	width: 23px;
	height: 23px;
	display: inline-block;
	margin-right: 3px;
	margin-top: -2px;
	position: absolute;
	left: 22%;
	cursor: pointer;

}

.mpLeft20 {
	margin-left: 20px;
}

.mpWrapped {
	width: 90%;
	word-wrap: break-word;
}


.mpHide {
	display: none;
}

.mpZero {
	height: 0px;
	padding: 0px;
}
.mpinColorRed {
	color: #FC0409;
	font-style: italic;
}
.mpPointer {
	cursor:pointer;
}

.mpPaddTop10 {
	padding-top: 10px;
}

.mpPaddBot10 {
	padding-bottom: 10px;
}

.mpinBold { font-weight:bold;}
.mpinItalic { font-style:italic;}

.mpTop25per {
	padding-top: 25%;
}
.mp10Down {
	margin-down: 10px;
}

.marBot10 {
	margin-bottom: 10px;
}

.marBot20 {
	margin-bottom: 20px;
}

.marTop20 {
	margin-top: 20px;
}

.border0 {
	border:0px
}

//MOBILE
#mpin_qrcode {
	display: block;
	width: 130px;
	height: 130px;
	margin: 0 auto 10px;
}
#mpin_seconds {
	color: #f00;
	text-shadow:none;
	/*margin: 15px 0;*/
}

.mpinFooterRow {
	bottom: 0%;
	min-height: 6%;
	width: 100%;
	z-index: 99;
	position: absolute;
}

.mpinFooter {
	position: absolute;
	border-top: 1px solid #828284;
	bottom: 0px;
	padding: 5px !important;
	width: 100%;
	-webkit-box-align: center;
	height: 10%;
	background: white;

	.mpinHelpHub {
		@include footer-helphub();
	}
	.mpinPowered {
		@include footer-copyright();
	}

	&.mpinFooterHome {
		border: none;
		height:11%;
		/*bottom: 2vh;*/
	}
}