@mixin gradient($color1, $color2) {
	background-image: -moz-linear-gradient(center top , $color1 0%, $color2);
	background: -webkit-linear-gradient($color1, $color2); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($color1, $color2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($color1, $color2); /* For Firefox 3.6 to 15 */
	background: linear-gradient($color1, $color2);
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}



.mpinHeader {
	border-bottom: 1px solid #828284;
	padding: 5px;
	/*width: 100%;*/
	height: 40px;

	.mpinHome {
		@include header-home();
	}
	.mpinLogo {
		@include header-logo();
	}
}

.mpinHeaderBig {
	width: 90%;
	margin: auto;

	#mpinLogo {
		@include logo();
	}


}

.mpinHeaderRow {
	padding: 2vh;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;

	&.mpHeaderPadd {
		padding: 0px;
		font-size: 15px;
	}

	&.mpHeaderTable {
		display: table;
		width: 90%;
		margin: 0 auto;
	}

	.mpinTextGreenBorder {
		border-bottom: 1px solid #06B405;
		color: #06B405;
		text-transform: none;
		div {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.mpinMobileIcon {
		@include mobile-icon();
	}
}

.mpinIdentityRow {

	@include gradient(#FFFFFF, #E8E8E8);
	z-index: 99;
	/*width: 100%;*/
	.mpinArrowDown {

		img {
			height: 20px;
			width: 20px;
			float: right;
			top: -16px;
			transition: 1s all ease-in-out;
			position: relative;

			&.rotated {
				-webkit-transform: rotate(180deg);
			}
		}
	}
	.mpinArrowUp {
		height: 20px;
		width: 20px;
		float: right;
		margin: 3px;
		background: url('#{$IMAGES}arrow-up-black.svg') no-repeat;
		background-size: auto 100%;
		background-position: right bottom;
	}
	.mpinIdentity {
		text-align: center;
		padding: 5px 0px;
	}
}

.mpinPinpad {
	@include gradient(#3777ba, #56bce0);

	@import 'pinpads';
}

@import 'help';

.mpinMain {
	height: 75%;

	@import 'identity';

	@import 'buttons';

	.mpinCenter5 {
		padding-top: 5% !important;
	}

	&.mpNoHeight {
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	.mpinCenter { 
		width: 90%;
		margin:0 auto;
		text-align: center;
		padding-top: 20%;

		.mpinInput {
			text-align: center;
			color: grey;
			padding: .4em;
			font-style: italic;
			border: 1px solid #A3A3A3;
			width: 100%;
			margin-top: 5%;
		}
		.mpinIdentityText {
			color: red;
		}
		&.mpHomeTxt {
			font-size: 120%;
			padding-bottom: 2vh;
		}
	}

	.mpinInfo {
		background-image: url('#{$IMAGES}info.svg');
		background-repeat: no-repeat;
		background-position: bottom;
		width: 25px;
		height: 25px;
		display: inline-block;
		margin-right: 3px;
		margin-bottom: -3px;
	}

	&.mpinAnimateIn {
		transition: all 0.5s ease-in;
	}
	&.mpinAnimateOut {
		transition: all 0.5s ease-out;
	}
}

.mpinInfoCenter {
	background-image: url('#{$IMAGES}info.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	width: 23px;
	height: 23px;
	display: inline-block;
	margin-right: 3px;
	margin-bottom: -3px;
	position: absolute;
	left: 18%;
	cursor: pointer;

}

.mpLeft20 {
	margin-left: 20px;
}

.mpWrapped {
	width: 90%;
	word-wrap: break-word;
}


.mpHide {
	display: none;
}

.mpZero {
	height: 0px;
	padding: 0px;
}
.mpinColorRed {
	color: #FC0409;
	font-style: italic;
}
.mpPointer {
	cursor:pointer;
}

.mpPaddTop10 {
	padding-top: 10px;
}
.mpTop25per {
	padding-top: 25%;
}
.mp10Down {
	margin-down: 10px;
}

.mpinFooterRow {
	position: absolute;
	bottom: 10%;
	min-height: 6%;
	width: 100%;
	z-index: 99;
}

.mpinFooter {
	position: absolute;
	border-top: 1px solid #828284;
	bottom: 0px;
	padding: 5px;
	width: 100%;
	-webkit-box-align: center;

	height: 10%;
	background: white;

	.mpinHelpHub {
		@include footer-helphub();
	}
	.mpinPowered {
		@include footer-copyright();
	}

	&.mpinFooterHome {
		border: none;
		/*bottom: 2vh;*/
	}
}