@mixin gradient($color1, $color2) {
	background-image: -moz-linear-gradient(center top , $color1 0%, $color2);
	background: -webkit-linear-gradient($color1, $color2); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($color1, $color2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($color1, $color2); /* For Firefox 3.6 to 15 */
	background: linear-gradient($color1, $color2);
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}



.mpinHeader {
	border-bottom: 1px solid #828284;
	padding: 5px;
	/*width: 100%;*/
	height: 40px;

	.mpinHome {
		@include header-home();
	}
	.mpinLogo {
		@include header-logo();
	}
}

.mpinIdentityRow {

	@include gradient(#FFFFFF, #E8E8E8);

	/*width: 100%;*/
	.mpinArrowDown {
		height: 20px;
		width: 20px;
		float: right;
		margin: 3px;
		background: url('#{$IMAGES}arrow-down-black.svg') no-repeat;
		background-size: auto 100%;
		background-position: right bottom;
	}
	.mpinArrowUp {
		height: 20px;
		width: 20px;
		float: right;
		margin: 3px;
		background: url('#{$IMAGES}arrow-up-black.svg') no-repeat;
		background-size: auto 100%;
		background-position: right bottom;
	}
	.mpinIdentity {
		text-align: center;
		padding: 5px 0px;
	}
}

.mpinPinpad {
	@include gradient(#3777ba, #56bce0);

	@import 'pinpads';
}

.mpinMain {
	height: 75%;

	@import 'identity';
	
	@import 'buttons';
}

.mpLeft20 {
	margin-left: 20px;
}



.mpHide {
	display: none;
}

.mpPointer {
	cursor:pointer;
}

.mpPaddTop10 {
	padding-top: 10px;
}

.mp10Down {
	margin-down: 10px;
}

.mpinFooterRow {
	position: absolute;
	bottom: 10%;
	height: 6%;
	width: 100%;
}

.mpinFooter {
	position: absolute;
	border-top: 1px solid #828284;
	bottom: 0px;
	padding: 5px;
	width: 100%;
	-webkit-box-align: center;

	height: 10%;

	.mpinHelpHub {
		@include footer-helphub();
	}
	.mpinPowered {
		@include footer-copyright();
	}
}