help#mpinHelpTag {
	display: none;
	opacity: 0;
	color: black;
	-webkit-transition: all 1s ease-out;
	position: absolute;
	background-color: rgba(255,255,255,0.8);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 999;

	#mpinHelpContainer {
		display: none;
		background-color: white;
		width: 70%;
		height: 70%;
		position: relative;
		text-align: center;
		border: 3px solid darkgrey;
		margin: 0 auto;
		top: 60px;
		@include  border-radius(5px);
		padding-top: 10px;
		padding: 20px;

		&:before {
			content: '';
			background-image: url('#{$IMAGES}info.svg');
			width: 32px;
			height: 31px;
			display: block; 
			position: absolute;
			top: -11px;
			left: -11px;
			background-color: white;

			background-repeat: no-repeat;
			background-position: left;
			background-size: auto 100%;
		}
	}

	// Option choose styling
	.mpinGrey {
		background: #7E7E7E;
	}

	.mpinGreen {
		background: #44A800;
		margin-bottom: 10px;
	}

	.mpinHelpText {
		height: 75%;
	}

}

info.mpinHelpInfo {
	width: 100%;
	display: block;
	color: black;
	cursor: pointer;
	text-align: center;
	position: absolute;
	bottom: 13%;
	font-size: 12px;

	i {
		background-image: url('#{$IMAGES}info.svg');
		display: block;
		width: 21px;
		height: 20px;
		display: inline-block;
		position: relative;
		top: 5px;
	}

	&.helpHubTitle {
		bottom: auto;
		position: relative;
		font-weight: bold;
		padding: 10px;
		border-bottom: 1px solid #EAEAEA;
		font-size: 100%;
	}
	&.mpinInitialPos {
		position: initial;
	}
	
}

.mpinHelpBlock {
	/*width: 90%;*/
	margin: 0px auto;
	overflow: hidden;
	/*margin-bottom: 15px;*/
	& ul {
		/*list-style-type:disc;*/
	}
	& li {
		border-bottom: 1px solid #EAEAEA;
		padding: 10px 20px;
		margin: 0px;
		cursor: pointer;
	}
	p {
		padding: 10px 20px;
	}
}

.mpinHelpHubFooter {
	/*width: 90%;*/
	margin: 0px auto;
	padding: 10px;
	margin-top: 5%;
	border-bottom: 1px solid grey;
}

.mpinPurple {
	color: #F44373;
}