/* 
Copyright 2014 CertiVox UK Ltd, All Rights Reserved.

The CertiVox M-Pin Client and Server Libraries are free software: you can
redistribute it and/or modify it under the terms of the BSD 3-Clause
License - http://opensource.org/licenses/BSD-3-Clause

For full details regarding our CertiVox terms of service please refer to
the following links:

  * Our Terms and Conditions -
    http://www.certivox.com/about-certivox/terms-and-conditions/
  
  * Our Security and Privacy -
    http://www.certivox.com/about-certivox/security-privacy/

  * Our Statement of Position and Our Promise on Software Patents -
    http://www.certivox.com/about-certivox/patents/
*/
/*
   Certivox JavaScript M-Pin Authentication Functions

   Provides these functions:
   calculateMPinToken     Calculates the MPin Token 
   local_entropy          Gets an entropy value from the client machine
   randomX                Calculates a random 254 bit value
   addShares              Add two points on the curve that are originally in hex format
   pass1Request           Form the JSON request for pass one of the M-Pin protocol
   pass2Request           Form the JSON request for pass two of the M-Pin protocol
*/

help#mpinHelpTag {
	display: none;
	opacity: 0;
	color: black;
	-webkit-transition: all 1s ease-out;
	position: absolute;
	background-color: rgba(255,255,255,0.8);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 99%;
	height: 95%;
	z-index: 999999;
	margin:1px;

	#mpinHelpContainer {
		display: none;
		background-color: white;
		width: 85%;
		height: 80%;
		position: relative;
		text-align: left;
		border: 1px solid #acacac;
		margin: 0 auto;
		top: 45px;
		@include  border-radius(5px);
		padding: 15px 10px 10px;
		-webkit-box-shadow: 1px 2px 4px 0px rgba(50, 50, 50, 0.50);
		-moz-box-shadow:    1px 2px 4px 0px rgba(50, 50, 50, 0.50);
		box-shadow:         1px 2px 4px 0px rgba(50, 50, 50, 0.50);

		//, &:before
		#mpinInfoCloseCorner {
			@include help-popup-corner-icon();
		}

		#mpinButtonsContainer {
			position: absolute;
			width: 90%;
			bottom: 0%;

			.mpinBtm10 {
				margin-bottom: 10px;
			}
			.mpinPadd12 {
				padding:12px 0px;
			}
		}
	}

	// Option choose styling
	.mpinGrey {
		background: #7E7E7E;
		padding:12px 0px;
	}

	.mpinGreen {
		background: #44A800;
		margin-bottom: 8px;
	}

	.mpinBlue {
		background: #0686CF;
		margin-bottom: 8px;
		padding:12px 0px;
	}

	.mpinHelpText {
		height: 68%;
		color:#353535;
		font-size:0.93em;
		line-height:1.3em;
	}

}

info.mpinHelpInfo {
	width: 100%;
	display: block;
	color: black;
	cursor: pointer;
	text-align: center;
	/*position: absolute;*/
	/*bottom: 10%;*/
	font-size: 13px;

	&.mpAbsolute {
		position: absolute;
		bottom: 14%;
	}

	i {
		background-image: url('#{$IMAGES}/mark.svg');
		display: block;
		width: 20px;
		height: 20px;
		display: inline-block;
		position: relative;
		top: 5px;
		margin: 0px 5px 0px -8px;
	}

	&.helpHubTitle {
		bottom: auto;
		position: relative;
		font-weight: bold;
		padding: 10px 10px 15px;
		border-bottom: 1px solid #EAEAEA;
		font-size: 90%;
	}
	&.mpinInitialPos {
		position: initial;
	}
	&.mpinBorder0 {
		border: 0px;
		min-height: 16%;
	}

}

.mpinHelpBlock {
	/*width: 90%;*/
	margin: 0px auto;
	overflow: hidden;
	/*margin-bottom: 15px;*/
	& ul {
		/*list-style-type:disc;*/
	}
	& li {
		border-bottom: 1px solid #EAEAEA;
		padding: 10px 10px 10px 30px;
		margin: 0px;
		cursor: pointer;
		text-align:left;
		background-image: url("#{$IMAGES}/bullet.svg");
		background-position: 10px 12px;
		background-repeat: no-repeat;
	}
	& li a:hover {
		color:red;
	}
	p {
		font-size: 90%;
		padding: 5px 15px 10px;
		text-align: left;
	}
}

.mpinHelpAnswerBlock {
	@include help-box();
}

.mpinHelpHubFooter {
	/*width: 90%;*/
	margin: 0px auto;
	padding: 10px;
	margin-top: 5%;
	border-bottom: 1px solid grey;
}

.mpinPurple, .mpinPurple strong {
	font-weight: bold;
	@include mobile-text();
}