#header {
	@include top-bar();

	-webkit-box-orient: horizontal !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;

	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;

	#mpinLogo {
		@include logo();

		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;

		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;
		-webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
		-webkit-box-orient: vertical;
		-ms-flex-direction: column;
		flex-direction: column;
		min-height: 0px;
	}

	#menuIcon {
		@include menu-icon();

		display: -webkit-box;
		display: -ms-flexbox;
		-webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
		-webkit-box-orient: vertical;
		-ms-flex-direction: column;
		flex-direction: column;
		min-height: 0px;

		float: right;
		margin: 10px 10px 0 10px;
	}
}

#homeIcon {

	margin-top: 5px;

	-webkit-box-orient: horizontal !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;

	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	-webkit-box-orient: horizontal !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;

	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: white;
	/*padding: 10% 0px 20px;*/

	#mobileIcon {
		@include mobile-icon();
	}
	#desktopIcon {
		@include desktop-icon();
	}

}

#buttonsContainer {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 0px;

	-webkit-box-orient: vertical !important;
	-ms-flex-direction: column !important;
	flex-direction: column !important;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	width: 100%;

	.mpinBtn {
		width: 90%;

		&.mpinBtnBusy {
			background: url('#{$IMAGES}checking.gif') no-repeat 95% center;
			padding: 10px;
		}

		&.mpinBtnError {
			background: grey;
			color: red;
		}
	}

}