.mpinLists {
	width: 90%;
	margin: 0 auto;
	border: 1px solid grey;

	max-height: 50%;
	overflow: hidden;

	@include border-radius(7px);


	.mpinRow {
		padding: 5px;
		width: 100%;
		line-height: 35px;
		border-bottom: 1px solid grey;
	}

	.mpinRow:hover {
		background: #007cc2;
		color: #fff;
	}

	.mpinSettings {
		float: right;
		border: 1px solid grey;
		background: #fff url('#{$IMAGES}cog-setting.svg') center no-repeat;
		background-size: auto 100%;
		width: 30px;
		height: 30px;
		margin: 3px;
		@include border-radius(7px);
	}
}