/* 
Copyright 2014 CertiVox UK Ltd, All Rights Reserved.

The CertiVox M-Pin Client and Server Libraries are free software: you can
redistribute it and/or modify it under the terms of the BSD 3-Clause
License - http://opensource.org/licenses/BSD-3-Clause

For full details regarding our CertiVox terms of service please refer to
the following links:

  * Our Terms and Conditions -
    http://www.certivox.com/about-certivox/terms-and-conditions/
  
  * Our Security and Privacy -
    http://www.certivox.com/about-certivox/security-privacy/

  * Our Statement of Position and Our Promise on Software Patents -
    http://www.certivox.com/about-certivox/patents/
*/
/*
   Certivox JavaScript M-Pin Authentication Functions

   Provides these functions:
   calculateMPinToken     Calculates the MPin Token 
   local_entropy          Gets an entropy value from the client machine
   randomX                Calculates a random 254 bit value
   addShares              Add two points on the curve that are originally in hex format
   pass1Request           Form the JSON request for pass one of the M-Pin protocol
   pass2Request           Form the JSON request for pass two of the M-Pin protocol
*/

.mpinLists {
	width: 90%;
	margin: 0 auto;
	border: 1px solid grey;

	/*max-height: 70%;*/
	height: 60%;
	overflow: auto;

	@include border-radius(7px);

	ul {
		padding: 0px;
		margin: 0px;
	}

	.mpinRow {
		padding: 5px;
		width: 100%;
		/*line-height: 35px;*/
		min-height: 45px;
		border-bottom: 1px solid grey;
		&.mpinRowActive {
			background: #007cc2;
			color: #fff;
			.mpinSettingsRow {
				color: #fff;
			}
		}
		&.mpinRowActive:hover {
			background: #007cc2;
			color: #fff;
			.mpinSettingsRow {
				color: #fff;
			}
		}
	}

	.mpinRow:hover {
		/*background: #007cc2;*/
		background: #7DD1FF;
		color: #fff;
		cursor: pointer;
		.mpinSettingsRow {
			color: #fff;
		}
	}

	.mpinSettings {
		float: right;
		border: 1px solid grey;
		background: #fff url('#{$IMAGES}/cog-setting.svg') center no-repeat;
		background-size: auto 100%;
		width: 30px;
		height: 30px;
		margin: 3px;
		@include border-radius(7px);
	}

	a.mpinSettingsRow {
		/*word-break: break-all;*/
		/*width: 75%;*/
		line-height: 22px;
		text-align: left;
		margin-left: 2px;

		padding-top: 6px;

		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		text-decoration: none;
		display: block;

	}
}