// Import CSS3 reset

@import 'reset';

// Import template

@import 'templates/_darkgrey';
// @import 'templates/_flatwhite';

// General mixins

@mixin display-box-flex() {

	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin box-flex-value($value) {
	-moz-box-flex:$value; /* Firefox */
	-webkit-box-flex:$value; /* Safari and Chrome */
	-ms-flex:$value; /* Internet Explorer 10 */
	box-flex:$value;
}

.mpinContainer {

	position: relative;
	width: 300px;
	height: 100%;
	@include bg-color();

	// Import the pinpad styles


	#mpinHolder {

		// -webkit-box-align: stretch;
		// -ms-flex-align: stretch;
		// align-items: stretch;

		//height: 100%;
		width: 100%;
		//position: absolute;
		width: 100;
		z-index: 0;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		
		background-color: inherit;

		.mpinMaster {
			//position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			//height: 100%;
			min-height: 434px;


			// background color
			
			background-color: inherit;
			
			-webkit-box-align: stretch;
			-ms-flex-align: stretch;
			align-items: stretch;

			-webkit-box-orient: vertical !important;
			-ms-flex-direction: column !important;
			flex-direction: column !important;

			display:-moz-box; /* Firefox */
			display:-webkit-box; /* Safari and Chrome */
			display:-ms-flexbox; /* Internet Explorer 10 */

			// display: flex;
			// // display: -webkit-box;
			// // display: -ms-flexbox;

			// padding: 10px 10px 0 10px;

			// Import the pinpad SASS
			@import 'pinpad';

			// Import the home view

			@import 'home';

		}
	}

	#topNav {

		padding: 0px 10px 0px 10px !important;

		@include header-bar();

		-webkit-box-orient: horizontal !important;
		-ms-flex-direction: row !important;
		flex-direction: row !important;

		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;

		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;

		#mp_action_home {
			display: block;
			@include home-icon();
			background-repeat: no-repeat;
			background-size: auto 100%;
		}

		#mpinLogo {
			@include mpin-logo();
			display: block;
		}

	}

	#accountTopBar {

		margin: 10px 10px 0 10px;

		-webkit-box-orient: horizontal !important;
		-ms-flex-direction: row !important;
		flex-direction: row !important;

		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;

		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		-webkit-box-orient: horizontal !important;
		-ms-flex-direction: row !important;
		flex-direction: row !important;

		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;

		#mpinUser {

			@include box-flex-value(1.0);
			@include mpin-user();
		}

		#menuBtn {
			display: block;
			overflow: hidden;
			border: none;
			border-radius: 0;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			-o-border-radius: 0;
			-ms-border-radius: 0;
			min-height: 1.8em;
			padding: .3em .6em;
			@include mpin-menu();
		}

	}

	#addIdentity {

		@include top-heading();

		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;

		-webkit-box-orient: vertical;
		-ms-flex-direction: column;
		flex-direction: column;
		min-height: 0px;

		text-align: center;
		text-transform: uppercase;

		display: flex !important;
		display: -webkit-box !important;
		display: -ms-flexbox !important;

		.identityHeader {
			display: flex;
			display: -webkit-box;
			display: -ms-flexbox;

			-ms-flex-pack: center;

			-webkit-box-flex: 1;
			-ms-flex: 1 0 auto;
			flex: 1 0 auto;
			-webkit-box-orient: vertical;
			-ms-flex-direction: column;
			flex-direction: column;
			min-height: 0px;

			width: 100%;
			height: 100%;
		}
	}

	#identityContainer {

		@include central-content();


		-webkit-box-flex: 10;
		background-position: initial initial;
		background-repeat: initial initial;

		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;

		display: -webkit-box;
		display: -ms-flexbox;
		-webkit-box-orient: vertical;
		-ms-flex-direction: column;

		.inputContainer {

			min-height: 0 !important;

			display: flex;
			display: -webkit-box;
			display: -ms-flexbox;
			-webkit-box-orient: vertical;
			-ms-flex-direction: column;
			flex-direction: column;

			// Align items center

			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;

			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;

			background-color: transparent;
			margin-bottom: 2vh;
			width: 100%;
			background-position: initial initial;
			background-repeat: initial initial;

			.identityElHolder {

				background-color: transparent;
				margin-bottom: 2vh;
				width: 90%;
				background-position: initial initial;
				background-repeat: initial initial;

				display: flex;
				display: -webkit-box;
				display: -ms-flexbox;
				-webkit-box-orient: vertical;
				-ms-flex-direction: column;
				flex-direction: column;

				.identityText {

					@include input-heading();

				}

				.identityInput {

					width: 100%;
					position: relative;
					min-width: 3.7em;

					#emailInput {

						@include email-input();

						-webkit-user-select: text;
						-webkit-appearance: none;

						border-width: 0;
						-webkit-appearance: none;

					}
				}

			}


		}

		.identityMainText {

			@include central-text();

			display: block;

			.congrats {
				font-size: 5vh;
				color: rgb(255, 255, 255);
				padding: 0px 1vh;
				display: flex;
				display: -webkit-box;
				display: -ms-flexbox;
				-webkit-box-orient: vertical;
				-ms-flex-direction: column;
				flex-direction: column;
			}

			.identityBodyText {

				@include body-text();
				display: block;
			}

			.email {
				color: #3c9dcb;
				padding: 10px 5px 20px 5px;
				display: block;
			}
		}
	}

	#bottomBtnHolder {

		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;

		// Align items center

		-webkit-box-align: center;
		-ms-flex-align: center;

		background-color: rgb(86, 86, 86);
		background-position: initial initial;
		background-repeat: initial initial;

		padding-top: 5px;
		padding-bottom: 5px;

		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;

		/* -webkit-box-flex: 1; */
		-ms-flex: 1 0 auto;
		/* flex: 1 0 auto; */
		/* -webkit-box-orient: vertical; */
		-ms-flex-direction: column;
		/* flex-direction: column; */
		/* min-height: 0px; */

		.mpinBtn {
			width: 90%;
		}
	}

	#mpinFooter {

		-webkit-box-orient: horizontal;
		-ms-flex-direction: row;
		flex-direction: row;

		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;

		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		-webkit-box-orient: horizontal;
		-ms-flex-direction: row;
		flex-direction: row;

		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;

		@include mpin-copyright();
	}

	// General button styling

	.mpinBtn {
		@include mpin-button();

		// Set as display flex

		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;

		-webkit-box-direction: reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;

		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		font-size: 17px;
		margin-bottom: 3%;

		width: 100%;
		height: auto;

		.iconArrow {
			@include arrow-icon();
			display: block;

			position: relative;
			background-repeat: no-repeat;
			background-position: center;
		}

		.btnLabel {
			@include btn-text-label();

			-webkit-box-flex: 1;
			-ms-flex: 1 0 auto;
			flex: 1 0 auto;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			white-space: nowrap;
			text-overflow: ellipsis;
			text-align: center;
			display: block;
			overflow: hidden;















		}
	}

}

// Activate Identity Screen


// Import mediaqueries
@import 'mediaqueries';