#mpinMobileTitle {
	font-size: .91em;
	color: #fff;
	margin: 20px 0 0;
	text-align: center;
	font: 15px Arial,Helvetica, sans-serif;
}

.mpinMobileHolder {
	border: 2px solid#4c4d4f;
	background: #2b2a2b;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,#2b2a2b 1%,#494749 50%,#2b2a2b 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#2b2a2b),color-stop(50%,#494749),color-stop(100%,#2b2a2b));
	background: -webkit-linear-gradient(top,#2b2a2b 1%,#494749 50%,#2b2a2b 100%);
	background: -o-linear-gradient(top,#2b2a2b 1%,#494749 50%,#2b2a2b 100%);
	background: -ms-linear-gradient(top,#2b2a2b 1%,#494749 50%,#2b2a2b 100%);
	background: linear-gradient(to bottom,#2b2a2b 1%,#494749 50%,#2b2a2b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2a2b',endColorstr='#2b2a2b',GradientType=0);

	text-align: center;
	padding: 10px;
	color: #fff;
	margin: 10px;
	p {
		color: #15a4e2;
		text-shadow: -3px 2px 1px rgba(0,0,0,1);
		margin-bottom: 30px;
		margin-top: 10px;
	}
}

#mpinLoginHolder {
	height: 130px;
}

#mpinSetupHolder {
	height: 250px;
}

#mpin_accessNumber {
	background-color: #058cc7;
	border: 1px solid #808080;
	box-shadow: 0 0 5px 5px #0379ad inset;
	color: #fff;
	font-size: 24px;
	letter-spacing: .2em;
	padding: 10px 10px 10px 20px;
}

#mpinMobileDesc {
	color: #fff;
	margin: 10px 0;
	text-align: center;
}

#mpin_seconds {
	color: #f00;
}

.mpinNoteWarning {
	margin: 20px 0;
}

#mpin_qrcode {
	display: block;
	width: 130px;
	height: 130px;
	margin: 0 auto;
}

#mpinMobileButton {
	text-align: center;
	button {
		border-color: #aaa #888 #888 #aaa;
		border-image: none;
		border-right: 1px solid #888;
		border-style: solid;
		border-width: 1px;
		border: 1px solid transparent!important;
		border-radius: .3em .3em .3em .3em;
		box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset,0 25px 30px -12px rgba(255,255,255,0.4) inset,0 1px 2px rgba(0,0,0,0.6);
		outline: medium none;
		background-color: #fff;
		cursor: pointer;
		color: #3c3c3c;
		font-family: 'Helvetica',serif;
		font-size: 12px;
		font-weight: bold;
		padding: 13px 10px 10px;
		margin-top: 10px;
	}
	button:hover {
		background-color: #e2e2e2;
		color: #3c3c3c;
		cursor: pointer;
	}
}

// new Mobile

.mpinTabMiddle {
	display: table; 
	height: 60px; 
	overflow: hidden;
	width: 90%;
	margin: auto;

	font-style: italic;
	font-weight: bold;
	
	.mpLabel {
		display: table-cell;
	}
	
	div {
		/*display: table-cell;*/
		vertical-align: middle;
		text-align: center;
	}
}

.clrBlue {
	color: #248ACB;
	border-bottom: 1px solid #248ACB;
}

.clrGreen {
	color: #06B405;
	border-bottom: 1px solid #06B405;
}

.mpinMobileGrBtn {
	@include mpin-button();
	background: #01A800;
	width: 90%;
	margin: auto;
	cursor: default;
	font-size: 16px;
	
	.mpinGrTxt {
		text-align: center;
		padding: 2px;
		margin: 5px;
	}
	
	#mpinDownWhite {
		border-bottom: 1px solid white;
	}
	
	#mpinAccessNumber {
		font-size: 24px;
		letter-spacing: .2em;
		padding: 10px;
		display: block;
	}
	
	.mpinMobileWhBtn {
		@include mpin-button();
		width: 100px;
		background: white;
		box-shadow: none;
		margin: auto;
		text-align: center;
		padding: 4px;
		font-weight: bold;
		margin-bottom: 5px;
	}
}
/*
#mpin_action_setup {
	font-size: 14px;
	width: 90%;
	margin: auto;
	background: #01A800;
}
*/
#mpin_login_desktop {
	background: none;
	border: 1px solid #248ACB !important;
	color: #248ACB;
	text-align: center;
	padding: 5px;
	
	font-size: 14px;
}