/* 
Copyright 2014 CertiVox UK Ltd, All Rights Reserved.

The CertiVox M-Pin Client and Server Libraries are free software: you can
redistribute it and/or modify it under the terms of the BSD 3-Clause
License - http://opensource.org/licenses/BSD-3-Clause

For full details regarding our CertiVox terms of service please refer to
the following links:

  * Our Terms and Conditions -
    http://www.certivox.com/about-certivox/terms-and-conditions/
  
  * Our Security and Privacy -
    http://www.certivox.com/about-certivox/security-privacy/

  * Our Statement of Position and Our Promise on Software Patents -
    http://www.certivox.com/about-certivox/patents/
*/
/*
   Certivox JavaScript M-Pin Authentication Functions

   Provides these functions:
   calculateMPinToken     Calculates the MPin Token 
   local_entropy          Gets an entropy value from the client machine
   randomX                Calculates a random 254 bit value
   addShares              Add two points on the curve that are originally in hex format
   pass1Request           Form the JSON request for pass one of the M-Pin protocol
   pass2Request           Form the JSON request for pass two of the M-Pin protocol
*/

.mpinInput {
	height: 23%;
	background: #fff;
	margin: 0 auto;
	padding: 1%;



	&.mpinInputError {
		border: 1px solid red;
		color: red;
	}

	.mpinInputIn {
		margin: 0 auto;
		width: 100%;
		padding: 7% 1%;
		text-align: center;

		& i {
			background-image: url('#{$IMAGES}/info.svg');
			display: block;
			width: 21px;
			height: 35px;
			float:left;
			background-repeat: no-repeat;
			background-position:center;
			margin-right: 5px;
			cursor: pointer;
		}
	}

	.mpinCircle {
		width: 35px;
		height: 35px;
		/*float: left;*/
		display: inline-block;

		.mpinCircleIn {
			margin: 7px;
			background: #3A7FB9;
			width: 18px;
			height: 18px;
			-webkit-border-radius: 48px;
			-moz-border-radius: 48px;
			border-radius: 48px;
			position: absolute;
			z-index: 1000;
			border: 2px solid white;

			@include border-radius(48px);
		}
		.mpinCircleOut {
			background: #E4E4E4;
			width: 32px;
			height: 32px;
			-webkit-border-radius: 61px;
			-moz-border-radius: 61px;
			border-radius: 61px;
			border: 2px solid #585858;
			position: absolute;
			z-index: 800;
		}
	}


	.mpinInputText {
		text-align: center;
		line-height: 20px;
		font-weight: bold;
		&.mpinInputTop {
			display: block;
			margin-top: 9px;
		}
	}

	.mpin80width {
		/*width: 75% !important;*/
		width: 80%;
		text-align: center;
	}

	.mpin70width {
		width: 70%;
		text-align: center;
	}
}

.mpin-pre-row {

	height: 19%;

	.mpin-row {
		@include display-box-flex();

		height: 100%;

		.mpinPadBtn, .mpinPadBtn2 {
			border: 0;
			background: none;
			color: #fff;
			text-shadow: 2px 2px 2px #000000;
			display: block;
			text-align: center;
			width: 90%;
			font-size: 1.75em;
			font-weight:normal;
			&:active {
				background: #3777ba;
			}
		}
		.mpinBtnDisabled {
			opacity: 0.5;
		}
	}

}


