.mpinInput {
	height: 15%;
	background: #fff;
	margin: 0 auto;
	padding: 1%;

	.mpinInputIn {
		margin: 0 auto;
		width: 65%;
		padding: 1%;
	}

	.mpinCircle {
		width: 35px;
		height: 35px;
		float: left;
		margin: 1%;

		.mpinCircleIn {
			margin: 4px;
			background: #3A7FB9;
			width: 24px;
			height: 24px;
			-webkit-border-radius: 48px;
			-moz-border-radius: 48px;
			border-radius: 48px;
			position: absolute;
			z-index: 1000;
			
			@include border-radius(48px);
		}
		.mpinCircleOut {
			background: #E4E4E4;
			width: 32px;
			height: 32px;
			-webkit-border-radius: 61px;
			-moz-border-radius: 61px;
			border-radius: 61px;
			border: 1px solid #aaaaaa;
			position: absolute;
			z-index: 800;
		}
	}
}

.mpin-pre-row {

	height: 21%;

	.mpin-row {
		@include display-box-flex();

		height: 100%;

		.mpinPadBtn {
			border: 0;
			background: none;
			color: #fff;
			text-shadow: 2px 2px 2px #000000;
			display: block;
			text-align: center;
			width: 90%;
			font-size: 120%;
			&:active {
				background: #3777ba;
			}
		}
	}

}


