help {
	display: none;
	opacity: 0;
	color: black;
	-webkit-transition: all 1s ease-out;
	position: absolute;
	background-color: rgba(255,255,255,0.8);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 100001;

	#helpContainer {
		display: none;
		background-color: white;
		width: 70%;
		height: 70%;
		position: relative;
		text-align: center;
		border: 3px solid darkgrey;
		margin: 0 auto;
		top: 60px;
		@include  border-radius(5px);
		padding-top: 10px;
		padding: 20px;

		&:before {
			content: '';
			background-image: url('../resources/templates/gradient/img/info.svg');
			width: 32px;
			height: 31px;
			display: block;
			position: absolute;
			top: -11px;
			left: -11px;
			background-color: white;

			background-repeat: no-repeat;
			background-position: left;
			background-size: auto 100%;
		}
	}

	// Option choose styling

}

info {

	display: block;
	color: black;
	cursor: pointer;
	text-align: center;
	position: absolute;
	bottom: 30px;
	left: 20px;

	i {
		background-image: url('../resources/templates/gradient/img/info.svg');
		display: block;
		width: 21px;
		height: 20px;
		display: inline-block;
	}

}

info-inline {

	display: inline-block;
	color: black;
	cursor: pointer;
	text-align: center;
	bottom: 30px;
	left: 20px;
	position: relative;
	top: 4px;

	i {
		background-image: url('../resources/templates/gradient/img/info.svg');
		display: block;
		width: 21px;
		height: 20px;
		display: inline-block;
	}

}

// Helphub

helpHub {
	display: none;
	color: black;
	-webkit-transition: all 1s ease-out;
	position: absolute;
	background-color: white;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 100001;

	#helpHubContainer {
		display: none;
		background-color: white;
		width: 70%;
		height: 70%;
		position: relative;
		text-align: center;
		border: 3px solid darkgrey;
		margin: 0 auto;
		top: 60px;
		@include  border-radius(5px);
		padding-top: 10px;
		padding: 20px;

		&:before {
			content: '';
			background-image: url('../resources/templates/gradient/img/info.svg');
			width: 32px;
			height: 31px;
			display: block;
			position: absolute;
			top: -11px;
			left: -11px;
			background-color: white;

			background-repeat: no-repeat;
			background-position: left;
			background-size: auto 100%;
		}
	}

	// Option choose styling

}