// Import CSS3 reset

@import 'reset';

// Import template

@import 'templates/_@@templatename';

// General mixins

@mixin display-box-flex() {

	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin border-radius($value) {
	border-radius: $value;
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	-o-border-radius: $value;
	-ms-border-radius: $value;
}

@mixin box-flex-value($value) {
	-moz-box-flex:$value; /* Firefox */
	-webkit-box-flex:$value; /* Safari and Chrome */
	-ms-flex:$value; /* Internet Explorer 10 */
	box-flex:$value;
}

html, body {
	height: 100%;
	width: 100%;
	@include bg-color();
	// background-color:
	 whitesmoke: !important;
	margin: 0;
}

// Animations

@-webkit-keyframes rotate {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(180deg); }
}

body {


	// Set main font

	font-size: 104%;

	@include font-family();

	// Hide the overflow

	overflow: hidden;
	
	// Set default text size of the H1 tag
	
	h1 {
		font-size: 20px;
		color: darkgrey;
	}

	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */

	position: relative;

}

h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}

#mpinContainer {

	position: relative;
	width: 100%;
	height: 100%;
	
	// Import the pinpad styles


	#mpinHolder {

		// -webkit-box-align: stretch;
		// -ms-flex-align: stretch;
		// align-items: stretch;

		height: 100%;
		width: 100%;
		position: absolute;
		width: 100;
		z-index: 0;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		#mpinMaster {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;


			-webkit-box-align: stretch;
			-ms-flex-align: stretch;
			align-items: stretch;

			-moz-box-pack:stretch;
			-moz-box-align:stretch;

			-webkit-box-orient: vertical !important;
			-ms-flex-direction: column !important;
			-moz-box-orient: vertical !important;
			flex-direction: column !important;

			display: -moz-box; /* Firefox */
			display: -webkit-box; /* Safari and Chrome */
			display: -ms-flexbox; /* Internet Explorer 10 */

			display: flex;
			// // display: -webkit-box;
			// // display: -ms-flexbox;

			// padding: 10px 10px 0 10px;
			
			// Import the pinpad SASS
			@import 'pinpad';

			// Import the home view

			@import 'home';

		}
	}

	#topNav {

		padding: 0px 10px 0px 10px !important;

		@include header-bar();

		-webkit-box-orient: horizontal !important;
		-ms-flex-direction: row !important;
		flex-direction: row !important;

		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;

		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;

		#mp_action_home {
			display: block;
			@include home-icon();
			background-repeat: no-repeat;
			background-size: auto 100%;
		}

		#logo {
			@include custom-logo();
			display: block;
		}

	}

	#accountTopBar {
		
		@include account-top-bar();

		-webkit-box-orient: horizontal !important;
		-ms-flex-direction: row !important;
		flex-direction: row !important;

		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;

		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		-webkit-box-orient: horizontal !important;
		-ms-flex-direction: row !important;
		flex-direction: row !important;

		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;
		
		#mpinUser {
			
			@include box-flex-value(1.0);
			@include mpin-user();
		}

		#menuBtn {
			display: block;
			overflow: hidden;
			border: none;
			border-radius: 0;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			-o-border-radius: 0;
			-ms-border-radius: 0;
			min-height: 1.8em;
			padding: .3em .6em;
			@include mpin-menu();

			&.close {
				-webkit-animation-name: rotate; 
				-webkit-animation-duration: 0.5s; 
				-webkit-animation-iteration-count: 1;
				-webkit-animation-fill-mode: forwards;
				-webkit-transition-timing-function: ease-in-out;

			}
		}

	}

	#addIdentity {

		@include top-heading();

		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;

		-webkit-box-orient: vertical;
		-ms-flex-direction: column;
		flex-direction: column;
		min-height: 0px;
		
		text-align: center;
		text-transform: uppercase;

		display: flex !important;
		display: -webkit-box !important;
		display: -ms-flexbox !important;

		.identityHeader {
			display: flex;
			display: -webkit-box;
			display: -ms-flexbox;

			-ms-flex-pack: center;
			
			-webkit-box-flex: 1;
			-ms-flex: 1 0 auto;
			flex: 1 0 auto;
			-webkit-box-orient: vertical;
			-ms-flex-direction: column;
			flex-direction: column;
			min-height: 0px;

			width: 100%;
			height: 100%;
		}
	}

	#identityContainer {

		@include identity-container();


		-webkit-box-flex: 10;
		background-position: initial initial;
		background-repeat: initial initial;

		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;

		display: -webkit-box;
		display: -ms-flexbox;
		display: -moz-box;
		display: flex;

		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;

		-webkit-box-orient: vertical;
		-moz-box-orient: vertical !important;
		-ms-flex-direction: column;
		flex-direction: column;


		min-height: 0px;

		width: 100%;

		position: relative;

		.inputContainer {

			min-height: 0 !important;

			display: flex;
			display: -webkit-box;
			display: -ms-flexbox;

			-webkit-box-orient: vertical;
			-ms-flex-direction: column;
			flex-direction: column;

			// Align items center

			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;

			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;

			background-color: transparent;
			width: 100%;
			background-position: initial initial;
			background-repeat: initial initial;

			.identityElHolder {

				background-color: transparent;
				margin-bottom: 2vh;
				width: 90%;
				background-position: initial initial;
				background-repeat: initial initial;

				display: flex;
				display: -webkit-box;
				display: -ms-flexbox;
				-webkit-box-orient: vertical;
				-ms-flex-direction: column;
				flex-direction: column;

				.identityText {

					@include input-heading();

				}

				.identityInput {

					width: 100%;
					position: relative;
					min-width: 3.7em;

					#emailInput {

						@include email-input();

						-webkit-user-select: text; 
						-webkit-appearance: none;
						-webkit-appearance: none;
						text-align: center;

					}
				}

			}

		}

		.identityMainText {

			@include central-text();

			display: block;

			.congrats {
				font-size: 5vh;
				color: rgb(255, 255, 255);
				padding: 0px 1vh;
				display: flex;
				display: -webkit-box;
				display: -ms-flexbox;
				-webkit-box-orient: vertical;
				-ms-flex-direction: column;
				flex-direction: column;
			}

			.identityBodyText {

				@include body-text();
				display: block;
			}

			.email {
				color: #3c9dcb;
				padding: 10px 5px 20px 5px;
				display: block;
			}
		}
	}

	#bottomBtnHolder {

		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;

		// Align items center

		-webkit-box-align: center;
		-ms-flex-align: center;

		@include bottom-holder(); 

		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;

		/* -webkit-box-flex: 1; */
		-ms-flex: 1 0 auto;
		/* flex: 1 0 auto; */
		/* -webkit-box-orient: vertical; */
		-ms-flex-direction: column;
		/* flex-direction: column; */
		/* min-height: 0px; */

		width: 100%;

		.mpinBtn {
			width: 90%;
		}
	}

	#mpinFooter {

		padding: 0px 10px 0px 10px !important;

		@include header-bar();

		-webkit-box-orient: horizontal !important;
		-ms-flex-direction: row !important;
		flex-direction: row !important;

		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;

		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;

		#poweredBy {
			display: block;
			@include powered-by();
			background-repeat: no-repeat;
			background-size: auto 100%;
		}

		#mpinLogo {
			@include mpin-logo();
			display: block;
		}
	}
	
	// General button styling

	.mpinBtn {
		@include mpin-button();

		// Set as display flex

		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;

		-webkit-box-direction: reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;

		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		
		font-size: 17px;
		margin-bottom: 3%;

		width: 100%;
		height: auto;

		.iconArrow {
			@include arrow-icon();
			display: block;

			position: relative;
			background-repeat: no-repeat;
			background-position: center;
		}

		.btnLabel {
			@include btn-text-label();

			-webkit-box-flex: 1;
			-ms-flex: 1 0 auto;
			flex: 1 0 auto;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			white-space: nowrap;
			text-align: center;
			display: block;
			overflow: hidden;
		}
	}

}

// Activate Identity Screen

#mp_accountListView {
	color: white;
	padding-left: 30px;
	padding-right: 30px;

	.default {
		background: #3c9dcb;
	}

	.mp_buttonItem {
		float: right;
	}

	.mp_titleItem {
		position: relative;
		top: 17px;
		text-align: center;
	}

	.mp_buttonItem {
		display: block;
		position: absolute;
		top: 7px;
		right: 10px;
		z-index: 9999;
		cursor: pointer;

		img {
			background-color: white;
			border-radius: 4px;
			width: 40px;
		}
	}
}

.mp_contentItem {
	position: relative;
	height: 58px;
	border-bottom: 2px solid #666666;
}

#mp_back {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	@include bg-color();
	z-index: 999;

	-webkit-transition: all .05 ease-in-out;
	-moz-transition: all .05 ease-in-out;
	-o-transition: all .05 ease-in-out;
	transition: all .05 ease-in-out;
}

.circle {
	width: 50px;
	height: 50px;

	display: inline-block;

	.outer-circle {
		background: #E4E4E4;
		width: 32px;
		height: 32px;
		-webkit-border-radius: 61px;
		-moz-border-radius: 61px;
		border-radius: 61px;
		border: 2px solid #666666;
		position: absolute;
		z-index: 800;
	}

	.inner-circle {
		margin: 7px;
		background: #3A7FB9;
		width: 18px;
		height: 18px;
		font-size: 11px;
		color: #FFF;
		line-height: 18px;
		text-align: center;
		font-family: Arial;
		-webkit-border-radius: 48px;
		-moz-border-radius: 48px;
		border-radius: 48px;
		-webkit-box-shadow: inset 0px 1px 1px 0px #575757;
		-moz-box-shadow: inset 0px 1px 1px 0px #575757;
		box-shadow: inset 0px 1px 1px 0px #575757;
		border: 2px solid #d1f7ff;
		position: absolute;
		z-index: 1000;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
}

#rotateLock {
	display: none;
}

// Import mediaqueries
@import 'mediaqueries';
@import 'help';
