<!-- Home/Top Nav Bar -->

<header id="topNav">
    <div id="mp_action_home">
    </div>
    <div id="logo">
    </div>
</header>


<div id="mp_accountListView" class="PinPadListViewSkin">
    <div class="mp_customScrollBox">
        <div class="mp_container">
            <div id="mp_accountContent" class="mp_content"></div>
        </div>
    </div>
</div>

<div id="buttonsContainer">

    <div class="mpinBtn" id="mp_acclist_adduser">
          <span class="iconArrow"></span>
          <span class="btnLabel"><%=hlp.text( "noaccount_button_add") %></span>
    </div>

</div>

<div id="accountTopBar">
    <div id="mpinUser">
    </div>
        <a href="#" id="menuBtn" class="close"></a>
</div>

<footer id="mpinFooter">
    <div id="mpinLogo">
    </div>

    <div id="poweredBy">
    </div>
</footer>