<!-- Home/Top Nav Bar -->

<header id="topNav">
    <div id="mp_action_home">
    </div>
    <div id="logo">
    </div>
</header>

<!-- User section -->

<div id="identityContainer">
  <div class="mp_headerFrame" id="otpContainer">
      <h2>{{hlp 'otp_text1' }}</h2>
      <div id="mpinOTPNumber" class="mp_alertTitle">
      </div>
      <p>{{hlp 'otp_seconds' }}</p>
      <div id="mpin_seconds" class="mp_accountField">
      </div>
  </div>

  <p class="noteText">{{hlp 'otp_text2'}}</p>

</div>

<footer id="mpinFooter">
    <div id="mpinLogo">
    </div>

    <div id="poweredBy">
    </div>
</footer>