<!-- Home/Top Nav Bar -->

<header id="topNav">
    <div id="mp_action_home">
    </div>
    <div id="logo">
    </div>
</header>

<!-- User section -->

<div id="identityContainer">
  <div class="mp_headerFrame" id="otpContainer">
      <h2>Your One-time Password is:</h2>
      <div id="mpinOTPNumber" class="mp_alertTitle">
      </div>
      <p>Remaining:</p>
      <div id="mpin_seconds" class="mp_accountField">
      </div>
  </div>

  <p class="noteText">Note: The password is only valid for 99 seconds before it expries.</p>

</div>

<footer id="mpinFooter">
    <div id="mpinLogo">
    </div>

    <div id="poweredBy">
    </div>
</footer>