<div class="mp_titleItem" title="<%= name %>">
    <%=name %>
</div>
<div id="mp_btIdSettings_<%= iNumber %>" class="mp_buttonItem">
    <img src="<%= hlp.img("cog-setting.svg") %>" tabindex=-1/>
</div>