<div class="mpinHeader">
    <div class="mpinLogo mpPointer"></div>
	<div class="mpinHome mpPointer"></div>
</div>

<div class="mpinIdentityRow">
	<div class="mpinArrowDown mpPointer mpHide" id="show_identity"></div>
	<div class="mpinIdentity mpLeft20">alice@your-domain.com</div>
</div>

<!--
<div class="mpinMain mpPaddTop10">
	<div class="mpinLists">
		<ul>
			<li class="mpinRow">
				<div class="mpinSettings"></div>
				ONE ONE
			</li>
			<li class="mpinRow">
				<div class="mpinSettings"></div>
				Two Two
			</li>
			<li class="mpinRow">
				<div class="mpinSettings"></div>
				ONE ONE
			</li>
			<li class="mpinRow">
				<div class="mpinSettings"></div>
				ONE ONE
			</li>
			<li class="mpinRow">
				<div class="mpinSettings"></div>
				ONE ONE
			</li>
		</ul>
	</div>
	
	<div class="mpinBtnBox">
		<div class="mpinButton">
			Add a new identity
		</div>
		
		<div class="mpinButton mpGreen">
			Sign in with your Smartphone
		</div>
	</div>
	
</div>


<div class="mpinIdentityRow mpinFooterRow">
	<div class="mpinArrowUp mpPointer"></div>
</div>
-->

<div class="mpinMain mpinPinpad">

	<div class="mpinInput">
		<div class="mpinInputIn">
			<div class="mpinCircle">
				<div class="mpinCircleOut"></div>
				<div class="mpinCircleIn"></div>
			</div>
			
			<div class="mpinCircle">
				<div class="mpinCircleOut"></div>
				<div class="mpinCircleIn"></div>
			</div>
			<div class="mpinCircle">
				<div class="mpinCircleOut"></div>
				<div class="mpinCircleIn"></div>
			</div>
			<div class="mpinCircle">
				<div class="mpinCircleOut"></div>
				<div class="mpinCircleIn"></div>
			</div>
		</div>
    </div>
	
	
	<div class="mpin-pre-row">
        <div class="mpin-row">
            <button class="mpinPadBtn" data-value="1">
                1
            </button>
            <button class="mpinPadBtn" data-value="2">
                2
            </button>
            <button class="mpinPadBtn" data-value="3">
                3
            </button>
        </div>
    </div>
    <div class="mpin-pre-row">
        <div class="mpin-row">
            <button class="mpinPadBtn" data-value="4">
                4
            </button>
            <button class="mpinPadBtn" data-value="5">
                5
            </button>
            <button class="mpinPadBtn" data-value="6">
                6
            </button>
        </div>
    </div>
    <div class="mpin-pre-row">
        <div class="mpin-row">
            <button class="mpinPadBtn" data-value="7">
                7
            </button>
            <button class="mpinPadBtn" data-value="8">
                8
            </button>
            <button class="mpinPadBtn" data-value="9">
                9
            </button>
        </div>
    </div>
    <div class="mpin-pre-row">
        <div class="mpin-row mpin-bottom">
            <button class="mpinPadBtn mpinPadBtnClear" data-value="clear" id="mpinClear">
                clear
            </button>
            <button class="mpinPadBtn" data-value="0">
                0
            </button>
            <button class="mpinPadBtn mpinPadBtnLogin" data-value="go" id="mpinLogin">
                login
            </button>
        </div>
    </div>

</div>


<div class="mpinFooter">
	<div class="mpinPowered"></div>
	<div class="mpinHelpHub mpPointer"></div>
</div>