<div class="mpinLists" >
	<ul id="mpin_accounts_list">
	</ul>
</div>

<div class="mpinBtnBox">
	<div class="mpinButton" id="mpin_add_identity">
		{{txt "account_button_addnew"}}
	</div>
	<div class="mpinButton mpGreen" id="mpin_phone">
		{{txt "signin_mobile_btn_text"}}
	</div>
</div>