<div class="mpinHeaderRow">
	{{txt "setup_header"}}
</div>


<div class="mpinMain mpPaddTop10">
	
	<div class="mpinCenter {{#if data.setDeviceName }} mpCenterTop {{/if}}">
		<i class="mpinInfo" id="mpin_help"></i>{{txt "setup_text1"}}
		<input type="email" id="emailInput" class="mpinInput" placeholder="" value="">
		
		{{#if data.setDeviceName }}
			<br><br><i class="mpinInfo" id="mpin_help_device"></i><label for="deviceInput">{{txt "setup_device_label"}}</label>
			<input type="text" id="deviceInput" class="mpinInput" placeholder="" value=""><br><br>
		{{/if}}
		
		
    </div>
	
	<div class="mpinBtnBox">
		<div class="mpinButton" id="mpin_setup">
			{{txt "setup_button_setup"}}&trade;
		</div>
	</div>

</div>